<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="defaultHref"></ion-back-button>
    </ion-buttons>
    <ion-avatar slot="start" class="title-avatar">
      <img src="/assets/img/avatar.png" alt="" *ngIf="currentRoom.type == 'd'">
      <img src="/assets/img/group.png" alt="" *ngIf="currentRoom.type != 'd'" >
    </ion-avatar>
    <ion-title>
      {{currentRoom.name}}
    </ion-title>
<!--    <ion-buttons slot="end">
      <ion-button (click)="presentSearcher()">
        <ion-icon slot="icon-only" name="search-outline"></ion-icon>
      </ion-button>
    </ion-buttons>-->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false" #scrollElement
  [scrollEvents]="true"
  (ionScroll)="handleScroll($any($event))">
  <ion-grid>
    <ion-row *ngFor="let message of messages">
      <!-- Others' Messages -->
      <ion-col size="9" *ngIf="message.user !== currentUser" class="ion-no-margin ion-no-padding other-message-row">
        <ion-grid class="other-message-row">
          <ion-row>
            <ion-col size="auto" class="message-avatar">
              <ion-avatar>
                <img src="/assets/img/avatar.png" alt="">
              </ion-avatar>
            </ion-col>
            <ion-col class="message other-message">
              <span class="chat-user">{{ message.user }}</span><br>
              <span>{{ message.msg }}</span>
              <div class="createdAt" text-right><br>{{ message.updatedAt | date:'short' }}</div>
            </ion-col>
            <span *ngFor="let react of message.reactions" [innerHTML]="react.emoji" class="reaction-emoji"></span>
            <!-- Reaction Button -->
            <button *ngIf="!message.reactions" class="react-button" (click)="showReactionPop($event, message)">
              <ion-icon  class="emoji-in-button" name="heart-outline"></ion-icon>
            </button>
          </ion-row>
        </ion-grid>
      </ion-col>
      <!-- My Messages -->
      <ion-col size="3" *ngIf="message.user === currentUser" class="ion-text-end">
        <span *ngFor="let react of message.reactions" [innerHTML]="react.emoji" class="reaction-emoji"></span>
      </ion-col>
      <!-- <ion-col size="9" *ngIf="message.user === currentUser" class="message my-message" (click)="openActionSheet(message)"> -->
      <ion-col size="9" *ngIf="message.user === currentUser" class="message my-message">
        <span>{{ message.msg }}</span>

        <!-- Audio Player -->
        <div *ngFor="let file of message.attachments" class="audio-player">
          <span class="player-container">
            <button *ngIf="!playing || (playing && playingId != message.id)" (click)="play_from_url(file.audio_url, message.id)">
              <ion-icon name="caret-forward-outline"></ion-icon>
            </button>
            <button *ngIf="playing && playingId === message.id" (click)="stop_playing()">
              <ion-icon name="pause-outline"></ion-icon>
            </button>
            <span class="label-duration" *ngIf="playingId === message.id">{{playingDisplay}}</span>
            <span class="label-duration" *ngIf="playingId != message.id">0:00</span>
            <ion-progress-bar  *ngIf="playingId === message.id" [value]="play_progress"></ion-progress-bar>
            <ion-progress-bar *ngIf="playingId != message.id"></ion-progress-bar>
          </span>
        </div>

        <div class="createdAt" text-right><br>{{ message.updatedAt | date:'short' }}</div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- Reaction Emojis -->
  <ion-popover #reactpop  [isOpen]="ReactIsOpen" (didDismiss)="ReactIsOpen = false; editMessage = null" class="react-popover" >
    <ng-template>
      <ion-content class="ion-text-center">
        <span class="reaction-select-emoji" (click)="selReactionEmoji('heart')">❤️</span>
        <span class="reaction-select-emoji" (click)="selReactionEmoji('thumbsup')">👍</span>
        <span class="reaction-select-emoji" (click)="selReactionEmoji('smiley')">😀</span>
        <span class="reaction-select-emoji" (click)="selReactionEmoji('slight_frown')">🙁</span>
      </ion-content>
    </ng-template>
  </ion-popover>
</ion-content>

<ion-footer>
  <ion-toolbar color="light">
    <ion-row align-items-center>
      <ion-col size="2">
        <button class="emoji-selector" (click)="isEmojiPickerVisible = !isEmojiPickerVisible;">
          <ion-icon class="emoji-in-button" name="happy-outline"></ion-icon>
        </button>&nbsp;
        <button #recordbtn class="audio-recorder" (click)="toggle_recording()">
          <ion-icon *ngIf="!recording" class="emoji-in-button" name="mic-outline"></ion-icon>
          <ion-icon *ngIf="recording" class="emoji-in-button" name="mic-off-outline" color="danger"></ion-icon>
        </button>
      </ion-col>
      <ion-col class="textarea-container" size="8">
        <ion-label *ngIf="recording"><ion-icon name="radio-button-on-outline" color="danger"></ion-icon> Recording: {{durationDisplay}}</ion-label>
        <ion-textarea *ngIf="!recording" (ionFocus)="gotfocus()" (ionInput)="checkEmpty()" placeholder="Write your message here.." auto-grow class="inputBox" rows="1" [(ngModel)]="message"></ion-textarea>
      </ion-col>
      <ion-col size="2" class="ion-padding-vertical">
        <ion-button expand="block" fill="clear" color="primary" [disabled]="message === ''" class="sendBtn"
          (click)="sendMessage()">
          <ion-icon name="send" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
      <emoji-mart class="emoji-mart" *ngIf="isEmojiPickerVisible" (emojiSelect)="addEmoji($event)" title="Choose your emoji"></emoji-mart>
    </ion-row>
  </ion-toolbar>
</ion-footer>
