.message {
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 4px;
    white-space: pre-wrap;
  }

  .my-message {
    background: #D8EBFF;
    color: #333232;
  }

  .other-message-row {
    --ion-grid-padding: 0px;
    --padding-start: 0px;
    --ion-grid-column-padding: 0px;
  }
  .other-message {
    background: #EFEFEF;
    color: #333232;
  }
  .chat-user {
    color:#8089E3;
    font-weight: bold;
  }

  .createdAt {
    color: #BFA7A7;
    float: right;
    font-size: x-small;
  }

  .inputBox {
    border: 1px solid gray;
    border-radius: 10px;
    background: #fff;
    --padding-top: 13px !important;
    --padding-start: 5px;
  }

  .sendBtn {
    --padding-start: 0.5em;
    --padding-end: 0.5em;
  }

  .message-avatar ion-avatar {
    width: 40px;
  }

  .message-avatar img {
    width: 40px;
    height: auto;
  }

  .title-avatar {
    width:40px;
    height: 40px;
  }

  .emoji-selector, .audio-recorder {
      background: transparent;
      border: 0;
      transform: translate(2px, 23px);
      cursor: pointer;
      &:focus {
        outline: 0;
      }
    }

  .textarea-container {
    display: flex;
    align-items: center;
    ion-label {
      font-size: 10pt;
      background: #242323;
      padding: 10px;
      width: 100%;
      color: white;
      border-radius: 10px;
    }
  }
  ion-textarea {
    border: none !important;
  }

  .has-focus ion-textarea {
    --border-color: none !important;
  }

  .react-button {
    background: transparent;
  }

  .emoji-in-button {
    font-size: 15pt;
    color: rgb(148, 148, 148);
  }

  .reaction-emoji {
    --offset-top: 0px;
    --offset-bottom: 0px;
    //color: red;
    //color: transparent;  
    //text-shadow: 0 0 0 red;
    //filter: sepia(1) saturate(100);
  }

  .react-popover {
    --backdrop-opacity: 0;
    --background: none;
    font-size: 14pt;
    --max-width: 150px;
  }

  .reaction-select-emoji {
    margin: 5px;
    display: inline-block;
  }

  .player-container {
    display: inline-block;
    width: 100%;
    padding: 5px;
    background: aliceblue;
    button {
      background-color: #156FF5;
      color: white;
      font-size: 21pt;
      padding-top: 1px;
      border-radius: 5px;
      width: 30px;
      text-align: end;
      height: 30px;
    }
  }
