<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="defaultHref"></ion-back-button>
    </ion-buttons>
    <ion-avatar slot="start" class="title-avatar">
      <img src="/assets/img/avatar.png" alt="" *ngIf="currentRoom.type == 'd'">
      <img src="/assets/img/group.png" alt="" *ngIf="currentRoom.type != 'd'" >
    </ion-avatar>
    <ion-title>
      {{currentRoom.name}}
    </ion-title>
<!--    <ion-buttons slot="end">
      <ion-button (click)="presentSearcher()">
        <ion-icon slot="icon-only" name="search-outline"></ion-icon>
      </ion-button>
    </ion-buttons>-->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false" #scrollElement
  [scrollEvents]="true"
  (ionScroll)="handleScroll($any($event))">
  <ion-grid>
    <ion-row *ngFor="let message of messages">
      <!-- Others' Messages -->
      <ion-col size="10" *ngIf="message.user !== currentUser" class="ion-no-margin ion-no-padding other-message-row">
        <ion-grid class="other-message-row">
          <ion-row>
            <ion-col size="auto" class="message-avatar">
              <ion-avatar>
                <img src="/assets/img/avatar.png" alt="">
              </ion-avatar>
            </ion-col>
            <ion-col class="message other-message">
              <span class="chat-user">{{ message.user }}</span><br>
              <span>{{ message.msg }}</span>
              <!-- Image Viewer -->
              <div *ngFor="let file of message.attachments" class="image-viewer">
                <span *ngIf="file.image_type" >
                  <img [src]="'data:image/jpeg;base64' + file.image_preview" >
                </span>
              </div>
              <!-- File viewer template -->
              <ng-template *ngTemplateOutlet="FileViewer;context: {chatmessage : message}"></ng-template>
              <!-- Audio Player template-->
              <ng-template *ngTemplateOutlet="AudioPlayer;context: {chatmessage : message}"></ng-template>
              <div class="createdAt" text-right><br>{{ message.updatedAt | date:'short' }}</div>
            </ion-col>
            <!-- Reaction emojis -->
            <span *ngFor="let react of message.reactions" [innerHTML]="react.emoji" class="reaction-emoji" (click)="showReactionPop($event, message)"></span>
            <!-- Reaction Button -->
            <button *ngIf="!message.reactions" class="react-button" (click)="showReactionPop($event, message)">
              <ion-icon  class="emoji-in-button" name="heart-outline"></ion-icon>
            </button>
          </ion-row>
        </ion-grid>
      </ion-col>
      <!-- My Messages -->
      <ion-col size="3" *ngIf="message.user === currentUser" class="ion-text-end">
        <span *ngFor="let react of message.reactions" [innerHTML]="react.emoji" class="reaction-emoji"></span>
      </ion-col>
        <ion-col size="9" *ngIf="message.user === currentUser" class="message my-message" (click)="openEditActionSheet(message)">
        <span>{{ message.msg }}</span>
        <!-- Image Viewer -->
        <div *ngFor="let file of message.attachments" class="image-viewer">
          <span *ngIf="file.image_type" >
            <img [src]="'data:image/jpeg;base64' + file.image_preview" >
          </span>
        </div>
        <!-- File viewer template -->
        <ng-template *ngTemplateOutlet="FileViewer;context: {chatmessage : message}"></ng-template>
        <!-- Audio Player template -->
        <ng-template *ngTemplateOutlet="AudioPlayer;context: {chatmessage : message}"></ng-template>
        <div class="createdAt" text-right><br>{{ message.updatedAt | date:'short' }}</div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- Reaction Emojis -->
  <ion-popover #reactpop  [isOpen]="ReactIsOpen" (didDismiss)="ReactIsOpen = false; editMessage = null" class="react-popover" >
    <ng-template>
      <ion-content class="ion-text-center">
        <span class="reaction-select-emoji" (click)="selReactionEmoji('heart')">❤️</span>
        <span class="reaction-select-emoji" (click)="selReactionEmoji('thumbsup')">👍</span>
        <span class="reaction-select-emoji" (click)="selReactionEmoji('smiley')">😀</span>
        <span class="reaction-select-emoji" (click)="selReactionEmoji('slight_frown')">🙁</span>
        <span class="reaction-select-emoji" (click)="selReactionEmoji('clear')">(❌)</span>
      </ion-content>
    </ng-template>
  </ion-popover>
</ion-content>

<ion-footer>
  <ion-progress-bar [value]="uploadProgress.value" *ngIf="uploadProgress.value" color="primary"></ion-progress-bar>
  <ion-toolbar color="light">
    <!-- Emoji sheet -->
    <emoji-mart class="emoji-mart" *ngIf="isEmojiPickerVisible" 
      (emojiSelect)="addEmoji($event)" [backgroundImageFn]="backgroundImageFn" [showPreview]="false"></emoji-mart>
    <ion-row align-items-center>
      <ion-col size="3" class="ion-no-padding">
        <!-- Emoji Selector -->
        <button class="action-button" (click)="isEmojiPickerVisible = !isEmojiPickerVisible;">
          <ion-icon class="emoji-in-button" name="happy-outline"></ion-icon>
        </button>
        <!-- Attachments -->
        <button class="action-button" (click)="openAttachActionSheet()">
          <ion-icon class="emoji-in-button" name="add-outline"></ion-icon>
        </button>
        <!-- Audio recorder -->
        <button #recordbtn class="action-button" (click)="toggle_recording()">
          <ion-icon *ngIf="!recording" class="emoji-in-button" name="mic-outline"></ion-icon>
          <ion-icon *ngIf="recording" class="emoji-in-button" name="mic-off-outline" color="danger"></ion-icon>
        </button>
      </ion-col>
      <!-- Text area -->
      <ion-col class="textarea-container ion-no-padding" size="8" >
        <ion-label *ngIf="recording"><ion-icon name="radio-button-on-outline" color="danger" (click)="toggle_recording()"></ion-icon> Recording: {{recordingDisplay}}</ion-label>
        <ion-textarea #messageinput *ngIf="!recording" (ionFocus)="gotfocus()" (ionInput)="checkEmpty()" placeholder="Write your message here.." auto-grow class="inputBox" rows="1" [(ngModel)]="message"></ion-textarea>
      </ion-col>
      <!-- Send button -->
      <ion-col size="1" >
        <ion-button expand="block" fill="clear" color="primary" [disabled]="message === ''" class="sendBtn"
          (click)="sendMessage()">
          <ion-icon name="send" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>

<!-- Audio Player template-->
<ng-template #AudioPlayer let-message="chatmessage">
  <div *ngFor="let file of message.attachments" class="audio-player">
    <span *ngIf="file.audio_type" class="audio-description">{{file.description}}</span>
    <span *ngIf="file.audio_type" class="player-container">
      <button *ngIf="!playing || (playing && playingId != message.id)" (click)="play_audio_from_url(file, message.id, $event)">
        <ion-icon name="caret-forward-outline"></ion-icon>
      </button>
      <button *ngIf="playing && playingId === message.id" (click)="stop_playing($event)">
        <ion-icon name="stop-circle-outline"></ion-icon>
      </button>
      <span class="label-duration" *ngIf="playingId === message.id">{{playingDisplay}}</span>
      <span class="label-duration" *ngIf="playingId != message.id">0:00</span>
      <ion-progress-bar  *ngIf="playingId === message.id" [value]="play_progress"></ion-progress-bar>
      <ion-progress-bar *ngIf="playingId != message.id"></ion-progress-bar>
    </span>
  </div>
</ng-template>

<!-- File viewer template -->
<ng-template #FileViewer let-message="chatmessage">
  <div *ngFor="let file of message.attachments" class="file-container">
    <ion-row *ngIf="!file.image_type && !file.audio_type" (click)="download_and_open_file(file, $event)">
      <ion-col *ngIf="!file.image_type && !file.audio_type" size="2" class="file-format">
        <ion-icon name="document-outline"></ion-icon>
        {{file.format}}
      </ion-col>
      <ion-col *ngIf="!file.image_type && !file.audio_type" size="10">
        {{ (file.title.length>25)? (file.title | slice:0:25)+'...':(file.title) }}
        <div class="file-size ion-float-right">
          {{file.size / 1024 | number:'1.0-1'}}kB
        </div>
      </ion-col>
    </ion-row>
  </div>
</ng-template>