<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="defaultHref"></ion-back-button>
    </ion-buttons>
    <ion-avatar slot="start" class="title-avatar">
      <img src="/assets/img/avatar.png" alt="" *ngIf="currentRoom.type == 'd'">
      <img src="/assets/img/group.png" alt="" *ngIf="currentRoom.type != 'd'" >
    </ion-avatar>
    <ion-title>
      {{currentRoom.name}}
    </ion-title>
<!--    <ion-buttons slot="end">
      <ion-button (click)="presentSearcher()">
        <ion-icon slot="icon-only" name="search-outline"></ion-icon>
      </ion-button>
    </ion-buttons>-->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false" #scrollElement
  [scrollEvents]="true"
  (ionScroll)="handleScroll($any($event))">
  <ion-grid>
    <ion-row *ngFor="let message of messages">
      <ion-col size="9" *ngIf="message.user !== currentUser" class="ion-no-margin ion-no-padding other-message-row">
        <ion-grid class="other-message-row">
          <ion-row>
            <ion-col size="auto" class="message-avatar">
              <ion-avatar>
                <img src="/assets/img/avatar.png" alt="">
              </ion-avatar>
            </ion-col>
            <ion-col class="message other-message">
              <span class="chat-user">{{ message.user }}</span><br>
              <span>{{ message.msg }}</span>
              <div class="createdAt" text-right><br>{{ message.updatedAt | date:'short' }}</div>
            </ion-col>
            <div *ngIf="message.reactions" [innerHTML]="message.reactions" class="reaction-emoji"></div>
          </ion-row>
        </ion-grid>
      </ion-col>
      <ion-col offset="3" size="9" *ngIf="message.user === currentUser" class="message my-message" (click)="openActionSheet(message)">
        <span>{{ message.msg }}</span>
        <div class="createdAt" text-right><br>{{ message.updatedAt | date:'short' }}</div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar color="light">
    <ion-row align-items-center>
      <ion-col size="1">
        <button class="emoji-selector" (click)="isEmojiPickerVisible = !isEmojiPickerVisible;">
          <ion-icon class="emoji-button" name="happy-outline"></ion-icon>
        </button>
      </ion-col>
      <ion-col size="9">
        <ion-textarea (ionFocus)="gotfocus()" placeholder="Write your message here.." auto-grow class="inputBox" rows="1" [(ngModel)]="message"></ion-textarea>
      </ion-col>
      <ion-col size="2" class="ion-padding-vertical">
        <ion-button expand="block" fill="clear" color="primary" [disabled]="message === ''" class="sendBtn"
          (click)="sendMessage()">
          <ion-icon name="send" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
      <emoji-mart class="emoji-mart" *ngIf="isEmojiPickerVisible" (emojiSelect)="addEmoji($event)" title="Choose your emoji"></emoji-mart>
    </ion-row>
  </ion-toolbar>
</ion-footer>
