.message {
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 4px;
    white-space: pre-wrap;
  }
   
  .my-message {
    background: #D8EBFF;
    color: #333232;
  }
   
  .other-message-row {
    --ion-grid-padding: 0px;
    --padding-start: 0px;
    --ion-grid-column-padding: 0px;
  }
  .other-message {
    background: #EFEFEF;
    color: #333232;
  }
  .chat-user {
    color:#8089E3;
    font-weight: bold;
  }
   
  .createdAt {
    color: #BFA7A7;
    float: right;
    font-size: small;
  }
   
  .inputBox {
    margin-top: 10px;
    border: 1px solid gray;
    border-radius: 10px;
    background: #fff;
    --padding-top: 13px !important;
    --padding-start: 5px;
  }
   
  .sendBtn {
    --padding-start: 0.5em;
    --padding-end: 0.5em;
  }

  .message-avatar ion-avatar {
    width: 40px;
  }

  .message-avatar img {
    width: 40px;
    height: auto;
  }
