<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/app/tabs/people"></ion-back-button>
    </ion-buttons>
    <ion-title>{{speaker?.fname}} {{speaker?.lname}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding speaker-detail">
  <div *ngIf="speaker" class="ion-text-center">
    <img [src]="speaker.prof_img" [alt]="speaker.name">
    <br>
    <ion-col>
      <div class="ion-text-center">   
        {{speaker.org}}
      </div>
    </ion-col>
    <ion-list  *ngIf="speaker.capacity.length > 0" class="speaker-capacity" no-padding>
      <div *ngFor="let capacity of speaker.capacity">
        {{capacity.title}}
      </div>
    </ion-list>
    <ion-list *ngIf="speaker.wg.length > 0" class="speaker-wg">
      <div *ngFor="let capacity of speaker.wg">
        {{capacity.wg}}
      </div>
    </ion-list>

    <ion-button fill="clear" size="small" color="twitter">
      <ion-icon name="logo-twitter" slot="icon-only"></ion-icon>
    </ion-button>
    <ion-button fill="clear" size="small" color="github">
      <ion-icon name="logo-github" slot="icon-only"></ion-icon>
    </ion-button>
    <ion-button fill="clear" size="small" color="instagram">
      <ion-icon name="logo-instagram" slot="icon-only"></ion-icon>
    </ion-button>
  

  <p>{{speaker?.desc}}</p>

  <ion-list *ngIf="speaker.sessions.length > 0">

    <ion-item-sliding *ngFor="let session of speaker.sessions" #slidingItem >
      <ion-item routerLink="/app/tabs/program/schedule/session/{{session.id}}" routerDirection="forward">
        <ion-label>
          <h2><strong>{{session.title}}</strong></h2>
          <ion-row>
            <p>
              {{session.date.replace("00:00:00","").trim() | date:' d MMMM yyyy'}}
            </p>
          </ion-row>
          <p>
            {{session.startTime}} &mdash; {{session.endTime}}: <ion-note slot="end"><strong>{{session.roomName}}</strong></ion-note>
          </p>
        </ion-label>
      </ion-item>
    </ion-item-sliding>

</ion-list>

<ion-list-header *ngIf="speaker.sessions.length === 0">
  No Sessions Found
</ion-list-header>
</div>
</ion-content>
