<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{pagetitle}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-list-header color="success" *ngIf="taxonomy" >
    {{taxonomy}}
</ion-list-header>

<ion-content class="outer-content">
  <ion-list>
    <ion-grid fixed>
      <ion-row class="ion-align-items-stretch">
        <ion-col size="12" size-md="6" *ngFor="let speaker of speakers">
          <ion-card class="speaker-card">
            <ion-card-header>
              <ion-item detail="false" lines="none" routerLink="/app/tabs/{{rootpage}}program/speaker-details/{{speaker.id}}">
                <ion-avatar slot="start">
                  <img *ngIf="speaker.prof_img" [src]="speaker.prof_img" alt="">
                  <img *ngIf="!speaker.prof_img" src="/assets/img/avatar.png" alt="">
                </ion-avatar>
                {{speaker.fname}} {{speaker.lname}}
              </ion-item>
              <ion-list class="ion-padding-start">
                <div>{{speaker.desgn}}</div>
                <div>{{speaker.org}}</div>
              </ion-list>
              <ion-list *ngIf="speaker.capacity.length > 0" class="speaker-capacity ion-padding-start">
                <div *ngFor="let capacity of speaker.capacity">
                  {{capacity.title}}
                </div>
              </ion-list>
              <ion-list class="speaker-wg ion-padding-start">
                <span *ngFor="let wg of speaker.wg">
                  {{wg.code}}
                </span>
              </ion-list>
            </ion-card-header>

            <ion-label>
              <ion-item *ngFor="let session of speaker.sessions" routerLink="/app/tabs/people/session/{{session.id}}">
                <h3><ion-icon name="mic" slot="start"></ion-icon>&nbsp;{{session.title}}</h3>
              </ion-item>
            </ion-label>

            <ion-row class="ion-no-padding ion-justify-content-center social" >
              <ion-col size="4" class="ion-text-left">
                <ion-button fill="clear" size="small" color="primary" (click)="goToSpeakerTwitter(speaker)" [disabled]="!speaker.twitter">
                  <ion-icon name="logo-twitter" slot="start"></ion-icon>
                  Tweet
                </ion-button>
              </ion-col>
              <ion-col size="4" class="ion-text-center">
                <ion-button fill="clear" size="small" color="primary" (click)="openSpeakerShare(speaker)">
                  <ion-icon name="share-social" slot="start"></ion-icon>
                  Share
                </ion-button>
              </ion-col>
              <ion-col size="4" lass="ion-text-right">
                <ion-button fill="clear" size="small" color="primary" (click)="openContact(speaker)">
                  <ion-icon name="chatbox-outline" slot="start"></ion-icon>
                  Contact
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>
