<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center"><h2>{{'select_group' | translate}}</h2></ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-label class="text-14">Back</ion-label>
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back-outline" ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar class="small-search" color="light" [(placeholder)]="searchPlaceholder" [(ngModel)]="queryText" (ionChange)="searcher()" (ionInput)="searcher()">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-list class="ion-no-padding">
    @for (group of groups; track group.id) {
      <ion-item color="light" class="ion-border-rounded-10 ion-margin-start ion-margin-end ion-margin-bottom" lines="none" (click)="navto(group)" [hidden]="group.hidden || group.type == 0" >
        <ion-label color="dark">
          <ion-text>
            <h5 class="ion-flex ion-align-items-center">
              {{group.name}} · {{group.ville}}
              <ion-badge color="danger" class="ion-margin-start text-14">{{'no_active' | translate}}</ion-badge>
            </h5>
          </ion-text>
          <p class="text-12">{{group.numberofmembers}} {{'members' | translate}}</p>
          <p class="text-12">{{'last_activity' | translate}}: @if(group.lastmeeting){ {{group.lastmeeting.startedat | date:'MMM dd'}} }</p>
        </ion-label>
        @if(group.id === currentid){
          <ion-icon name="checkmark-circle" slot="end" color="success"></ion-icon>
        }
      </ion-item>
    }
    @if (groups?.length === 1) {
      <ion-item lines="none">
        <ion-label color="danger">
          {{'country_has_no_groups' | translate}}
        </ion-label>
      </ion-item>
    }
  </ion-list>
</ion-content>
