ion-searchbar {
  --border-radius: 20px;
}

ion-badge {
    font-size: 10px;
    font-weight: normal;
    background-color: #ECECFF;
    color: #8655A4;
    vertical-align: bottom;
}

ion-list {
  margin: 0 !important;
  padding:0 !important;
}

p {
  line-height: 1rem;
  margin: 0 !important;
}