ion-badge {
    font-size: 10px;
    font-weight: normal;
    background-color: #EADAF4;
    color: #8655A4;
    vertical-align: bottom;
}

ion-list {
  margin: 0 !important;
  padding:0 !important;
}