<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{countryname}} / {{'groups' | translate}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/app/tabs/countries"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <app-status-icons></app-status-icons>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar [(placeholder)]="searchPlaceholder" [(ngModel)]="queryText" (ionChange)="searcher()" (ionInput)="searcher()"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item lines="none" *ngFor="let group of groups" (click)="navto(group)" [hidden]="group.hidden || group.type == 0" >
      <ion-icon slot="start" name="people" size="large" color="primary"></ion-icon>
      <ion-label>
        <ion-text color="secondary">
          <h2>{{group.name}}</h2>
        </ion-text>
        <p>{{group.ville}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
