<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      <h2 class="ion-no-margin">{{meeting?.place}}</h2>
      <div class="sub-status text-12 ion-display-flex ion-align-items-center ion-justify-content-center">
        <span class="dot-purple">●</span> {{'in_progress' | translate}}
      </div>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button color="dark" class="close-btn">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="previousPage()" class="back-btn">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
      <ion-label class="ion-margin-start">Back</ion-label>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-margin">
  <ng-container [ngComponentOutlet]="transactionsPageComponent" [ngComponentOutletInputs]="params"></ng-container>
</ion-content>

<ion-footer>
  <ion-button class="ion-margin" expand="block" shape="round" (click)="nextPage()">{{buttonText | translate}}</ion-button>
</ion-footer>
