.sponsor-card {
  text-align: center;
}

.sponsor-title {
  padding-inline: 0px !important;
}

.sponsor-card img {
  width: unset;
  display: block;
  margin: auto;
}

.sponsor-card ion-card-header.ios {
  margin-bottom: 20px;
}
