<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title *ngIf="isfavoritepage" >Favourites</ion-title>
    <ion-segment *ngIf="!isfavoritepage" [(ngModel)]="segment" (ionChange)="updateSchedule()">
      <ion-segment-button value="all">
        All
      </ion-segment-button>
      <ion-segment-button value="favorites">
        Favourites
      </ion-segment-button>
    </ion-segment>

    <ion-buttons slot="end">
      <ion-button (click)="presentFilter()">
        <ion-icon slot="icon-only" name="options"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar>
    <ion-searchbar [(ngModel)]="queryText" (ionChange)="updateSchedule()" placeholder="Search"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content class="outer-content">
  <ion-list #scheduleList *ngIf="shownSessions > 0">
    <ion-grid fixed>
      <ion-row class="ion-align-items-stretch">
        <ion-col size="12" size-md="6" *ngFor="let session of sessions" #slidingItem [attr.track]="session.track | lowercase" [hidden]="session.hide">
        <ion-card routerLink="/app/tabs/program/schedule/session/{{session.id}}" routerDirection="forward">

          <ion-card-content class="ion-padding-start">
            <ion-label class="session-title ion-margin-bottom"><strong>{{session.title}}</strong></ion-label>
            <ion-list #speakerList *ngFor="let speaker of session.speakers" lines="none" class="ion-no-padding">
                <ion-icon name="mic" slot="start"></ion-icon>
                <ion-label color="default" class="ion-no-padding">{{speaker.fname.trim()}}, {{speaker.lname}}</ion-label>
            </ion-list>
          </ion-card-content>

          <ion-card-content class="session-card-details">
            <ion-grid class="session-grid-details">
            <ion-row>
              <ion-col>
                {{session.date.replace("00:00:00","").trim() | date:' d MMMM'}}
              </ion-col>
              <ion-col>
              {{session.startTime}} - {{session.endTime}}
              </ion-col>
              <ion-col>
                <strong>{{session.roomName}}</strong>
              </ion-col>
            </ion-row>
           </ion-grid>
           <ion-icon *ngIf="session.trackTitle" name="settings" slot="start" color="success" class="ion-padding-top"></ion-icon>
           <ion-note color="success">{{session.trackTitle}}</ion-note>
           </ion-card-content>

        </ion-card>

        <ion-item-options >
          <ion-item-option color="favorite" (click)="addFavorite(slidingItem, session)" *ngIf="segment === 'all'">
            Favorite
          </ion-item-option>
          <ion-item-option color="danger" (click)="removeFavorite(slidingItem, session, 'Remove Favorite')" *ngIf="segment === 'favorites'">
            Remove
          </ion-item-option>
        </ion-item-options>

        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>

  <ion-list-header [hidden]="shownSessions > 0">
    No Sessions Found
  </ion-list-header>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end" #fab>
    <ion-fab-button><ion-icon name="share"></ion-icon></ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="vimeo" (click)="openSocial('Vimeo', fab)">
        <ion-icon name="logo-vimeo"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="google" (click)="openSocial('Google+', fab)">
        <ion-icon name="logo-googleplus"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="twitter" (click)="openSocial('Twitter', fab)">
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="facebook" (click)="openSocial('Facebook', fab)">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>
