$categories: (
  ionic: var(--ion-color-primary),
  angular: #ac282b,
  communication: #8e8d93,
  tooling: #fe4c52,
  services: #fd8b2d,
  design: #fed035,
  workshop: #69bb7b,
  food: #3bc7c4,
  documentation: #b16be3,
  navigation: #6600cc
);

@each $track, $value in map-remove($categories) {
  ion-item-sliding[track='#{$track}'] ion-label {
    border-left: 2px solid $value;
    padding-left: 10px;
  }
}

.session-card-details {
  padding-top: 0px;
}

.session-grid-details {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  color: black;
  font-size: 0.85em;
  text-align: center;
}

.session-grid-details ion-col:first-child {
  border-right: 1px solid #ccc;
}

.session-grid-details ion-col:last-child {
  border-left: 1px solid #ccc;
}

.session-card {
  border-top: 2px solid #2c9ddd;
}