<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title *ngIf="isfavoritepage" >Favourites</ion-title>
    <ion-segment *ngIf="!isfavoritepage" [(ngModel)]="segment" (ionChange)="updateSchedule()">
      <ion-segment-button value="all">
        All
      </ion-segment-button>
      <ion-segment-button value="favorites">
        Favourites
      </ion-segment-button>
    </ion-segment>

    <ion-buttons slot="end">
      <ion-button (click)="presentFilter()">
        <ion-icon slot="icon-only" name="options"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar>
    <ion-searchbar [(ngModel)]="queryText" (ionChange)="updateSchedule()" placeholder="Search"></ion-searchbar>
  </ion-toolbar>

  <ion-segment (ionChange)="updateSchedule()" [(ngModel)]="daysegment" *ngIf="segment === 'all'" class="day-segment">
    <ion-segment-button *ngFor="let day of confdates" value="{{day.id}}">
      <div>
      {{day.date.replace("00:00:00","").trim() | date:'EEE d'}}<br>
      {{day.date.replace("00:00:00","").trim() | date:'MMM'}}
      </div>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-list-header *ngIf="filter" color="success">
    <div class="filter">
    {{filter}}
    <ion-icon name="close" slot="end" routerLink="/app/tabs/program/schedule"></ion-icon>
    </div>
</ion-list-header>

<ion-content class="outer-content">
  <ion-list #scheduleList *ngIf="shownSessions > 0">
    <ion-grid fixed class="ion-no-padding">
      <ion-row class="ion-align-items-stretch" class="ion-no-padding">
        <ion-col class="ion-no-padding session-item" size="12" size-md="6" *ngFor="let session of sessions" #slidingItem [attr.track]="session.track | lowercase" [hidden]="session.hide">

          <ion-list-header *ngIf="session.showtrack" class="session-track">
            <ion-text class="ion-no-padding">
           <h5 class="ion-no-margin">{{session.trackTitle}}</h5>
           <p class="ion-no-margin" *ngIf="session.trackChair">Chair: {{session.trackChair}}</p>
           </ion-text>
         </ion-list-header>

         <ion-card *ngIf="session.type === 'session'" routerLink="/app/tabs/program/schedule/session/{{session.id}}" routerDirection="forward" class="session-card">
          <ion-grid>
            <ion-row>
            <ion-col size="3" class="session-card-details">
              {{session.startTime}} - {{session.endTime}}
              <div><strong>{{session.roomName}}</strong></div>
            </ion-col>
            <ion-col size="9">
            <ion-label class="session-title ion-margin-bottom" color="dark"><strong>{{session.title}}</strong></ion-label>
            <ion-list #speakerList *ngFor="let speaker of session.speakers" lines="none" class="ion-no-padding speakerlist">
                <ion-icon name="person" slot="start" color="tertiary"></ion-icon>&nbsp;
                <ion-label class="speaker-name ion-no-padding">{{speaker.fname.trim()}}, {{speaker.lname}}</ion-label>
                <ion-label class="speaker-org ion-no-padding"><div>{{speaker.org}}</div></ion-label>
            </ion-list>
            </ion-col>
            </ion-row>
          </ion-grid>
         </ion-card>

         <ion-card *ngIf="session.type != 'session'" class="session-card">
          <ion-grid>
            <ion-row>
            <ion-col size="3" class="session-card-details">
              {{session.startTime}} - {{session.endTime}}
              <div><strong>{{session.roomName}}</strong></div>
            </ion-col>
            <ion-col size="9">
            <ion-label class="session-title ion-margin-bottom" color="medium"><strong>{{session.title}}</strong></ion-label>
            <ion-list #speakerList *ngFor="let speaker of session.speakers" lines="none" class="ion-no-padding speakerlist">
                <ion-icon name="person" slot="start" color="tertiary"></ion-icon>&nbsp;
                <ion-label class="speaker-name ion-no-padding">{{speaker.fname.trim()}}, {{speaker.lname}}</ion-label>
                <ion-label class="speaker-org"><div>{{speaker.desgn}}</div></ion-label>
                <ion-label class="speaker-org"><div>{{speaker.org}}</div></ion-label>
            </ion-list>
            </ion-col>
            </ion-row>
          </ion-grid>
         </ion-card>

         <ion-item-options >
          <ion-item-option color="favorite" (click)="addFavorite(slidingItem, session)" *ngIf="segment === 'all'">
            Favorite
          </ion-item-option>
          <ion-item-option color="danger" (click)="removeFavorite(slidingItem, session, 'Remove Favorite')" *ngIf="segment === 'favorites'">
            Remove
          </ion-item-option>
         </ion-item-options>

        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>

  <ion-list-header [hidden]="shownSessions > 0">
    No Lectures Found
  </ion-list-header>
<!--
  <ion-fab slot="fixed" vertical="bottom" horizontal="end" #fab>
    <ion-fab-button><ion-icon name="share"></ion-icon></ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="vimeo" (click)="openSocial('Vimeo', fab)">
        <ion-icon name="logo-vimeo"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="google" (click)="openSocial('Google+', fab)">
        <ion-icon name="logo-googleplus"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="twitter" (click)="openSocial('Twitter', fab)">
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="facebook" (click)="openSocial('Facebook', fab)">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
-->
</ion-content>
