$categories: (
  ionic: var(--ion-color-primary),
  angular: #ac282b,
  communication: #8e8d93,
  tooling: #fe4c52,
  services: #fd8b2d,
  design: #fed035,
  workshop: #69bb7b,
  food: #3bc7c4,
  documentation: #b16be3,
  navigation: #6600cc
);

@each $track, $value in map-remove($categories) {
  ion-item-sliding[track='#{$track}'] ion-label {
    border-left: 2px solid $value;
    padding-left: 10px;
  }
}

ion-segment .md {
  --ion-toolbar-segment-color: grey;
  --ion-toolbar-segment-color-checked: white;
}

.session-card-details {
  padding-top: 3px;
  font-size: 0.85em;
}

.session-card-details ion-row {
  color: var(--ion-color-medium-tint);
}

.session-grid-details {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  color: black;
  font-size: 0.85em;
  text-align: center;
}

.session-grid-details ion-col:first-child {
  border-right: 1px solid #ccc;
}

.session-grid-details ion-col:last-child {
  border-left: 1px solid #ccc;
}

.speakerlist ion-label {
  font-size: 0.85em;
}

.speakerlist {
  background-color: transparent;
}

.speaker-org {
  padding-left: 22px;
  display: block;
}

.speaker-name {
  color: #73071b;
}

.speakerlist ion-icon {
  vertical-align: middle;
}

.session-card {
  box-shadow: none;
  margin: 0;
  border: none;
}

.session-item:nth-of-type(even) {
  background-color: #cccccc21;
}

.session-track {
  font-size: 0.8em;
  background-color: #8da3b9;
  color: whitesmoke;
}

.md .day-segment .segment-button-checked  {
  background-color: var(--ion-color-light-tint);
}

.ios .day-segment {
  margin-bottom: 5px;
}

.ios .day-segment ion-segment-button {
  font-weight: bold;
}

.filter {
  width: 100%;
  padding-right: 20px;
}

.filter ion-icon {
  font-size:20px;
  float: right;
}