<ion-header translucent>
  <ion-toolbar>
    <ion-title>{{'transactions' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">
  <ion-card>
    <ion-card-header>
      <ion-card-title color="primary">{{account_label}}</ion-card-title>
      <ion-card-subtitle color="tertiary">{{meetingplace}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item lines="none" *ngFor="let parameter of parameters" class="ion-no-padding">
          <ion-label class="ion-no-margin ion-text-nowrap">
            <ion-icon class="tr-icon" [name]="tr_icons[parameter.code]" size="large" color="primary"></ion-icon>
            <ion-note class="tr-label ion-margin-start" color="tertiary">{{parameter.name}}</ion-note>
            <ion-button class="icon-button" (click)="update_cntrb(parameter.code, parameter.id)" color="warning" *ngIf="is_cntrb_field(parameter.code)" size="small">
              <ion-icon name="checkmark"></ion-icon>
            </ion-button>
          </ion-label>
          <ion-input type="number" class="ion-no-margin" [(ngModel)]="amount[parameter.id]" placeholder="0.00" [ngStyle]="{'color': amount[parameter.id] ? 'darkred' : 'gray'}"></ion-input>
          <!--<ion-select aria-label="Select transaction" [(ngModel)]="operation" placeholder="Select transaction" interface="action-sheet">
            <ion-select-option *ngFor="let parameter of parameters" value="{{parameter.id}}">{{parameter.name}}</ion-select-option>-->
           <!-- <ion-select-option *ngFor="let fsparameter of fsparameters" value="{{fsparameter.id}}"><ion-text class="fs">{{fsparameter.name}}</ion-text></ion-select-option> -->
          <!--</ion-select>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-item>
          <ion-input label="Amount" type="number" [(ngModel)]="amount" placeholder="0.00"></ion-input>-->
        </ion-item>
      </ion-list>
      <ion-button color="tertiary" (click)="valider()" size="small">{{'save' | translate}}</ion-button>
      <ion-button color="danger" (click)="dismiss()" size="small">{{'cancel' | translate}}</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
