ion-content {
    padding: 10px;
}

ion-button {
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
}

ion-input {
    max-width: 80px;
    text-align: center;
    color: darkred;
    font-size: larger;
    font-weight: bold;
}
