ion-content {
    padding: 10px;
}

ion-button {
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
}

ion-input {
    max-width: 80px;
    text-align: end;
    color: darkred;
    font-size: larger;
    font-weight: bold;
}

.icon-button {
   font-size: 10px;
   margin: 0;
   margin-top:10px;
}

.tr-label {
    vertical-align: super;
    /*color: #9d2929;*/
}

ion-item {
    --inner-padding-end: 0;
}