<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Announces</ion-title>
    </ion-toolbar>

  </ion-header>

<ion-content>
  <ion-list-header color="success">
    <strong>Congress Announcements</strong>
  </ion-list-header>
 <ion-list *ngFor="let newsitem of news">
    <ion-item>
      <ion-card class="news-card">
        <ion-card-title class="ion-padding-start ion-padding-top">{{newsitem.title}}</ion-card-title>
        <ion-card-content>
          <ion-text [innerHTML]="newsitem.text" color="medium"></ion-text>
          <ion-note color="primary">{{newsitem.date.trim() | date:' d MMMM yyyy HH:mm'}}</ion-note>
        </ion-card-content>
        </ion-card>
    </ion-item>
 </ion-list>
 <ion-note *ngIf='!news'>There are no Announces</ion-note>
</ion-content>
