<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="" (click)="navBack()" text=""></ion-back-button>
    </ion-buttons>
    <ion-text class="ion-text-center ion-margin-start">{{'edit_settings' | translate}}</ion-text>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list class="ion-margin-top">
  <ion-item>
    <ion-label>{{'application_lang' | translate}}:</ion-label>
    <ion-select (ionChange)="updateAppLang($event)" value="{{cur_lang}}" >
      <ion-select-option *ngFor="let lang of available_langs" [value]="lang.code">{{lang.title}}</ion-select-option>
    </ion-select>
  </ion-item>
</ion-list>

</ion-content>

