<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Arrival info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-content>
        <ion-list >
          <ion-item routerLink="/app/tabs/map/city">
              <ion-icon name="map" slot="start"></ion-icon>
              <ion-text>
                City Map
              </ion-text>
          </ion-item>
          <ion-item *ngFor="let infopage of infopages" routerLink="/app/tabs/info/{{infopage.title}}">
            <ion-icon name="information-circle" slot="start"></ion-icon>
            <ion-text>
            {{infopage.title}}
            </ion-text>
          </ion-item>
        </ion-list>
      </ion-content>
</ion-content>
