<ion-item class="card-container" [class]="status()" lines="none">
  <ion-grid class="ion-no-padding">

    <ion-row class="ion-align-items-center ion-margin-bottom">
      <ion-col size="12" class="header-container">
        <h4 class="title-serif ion-no-margin" [class]="status()">
          {{ meeting$()?.place }} · <span class="date-label">{{ fullDate() | date: 'MMM d'}}</span>
          <ion-icon name="chevron-forward-outline" class="title-chevron"></ion-icon>
        </h4>
        @if(status() == 'progress' || status() == 'progress-pending'){
        <div class="status-indicator text-12">
          <span class="dot">●</span>
          <span class="status-text">{{(status() == 'progress' ? 'in_progress' : 'in_progress_sync') | translate}}</span>
        </div>
        }
        @if(status() == 'closed' || status() == 'closed-pending'){
        <div class="status-indicator text-12">
          <span [class]="status() == 'closed' ? 'dot-grey' : 'dot-orange'">●</span>
          <span class="status-text">{{(status() == 'closed' ? 'closed' : 'closed_sync') | translate}}</span>
        </div>
        }
      </ion-col>
    </ion-row>

    <ion-row class="ion-align-items-center">
      <ion-col size="2" class="ion-no-padding">
        <div class="avatar-circle">
          <img src="assets/img/feather-blue-sm.png" alt="feather" />
        </div>
      </ion-col>
      <ion-col>
        <div class="stats-info">
          <div class="stats-numbers">
            {{ meeting$()?.attendance }} / {{group?.numberofmembers}}
          </div>
          <div class="stats-sub-label text-12">{{'attended' | translate}}</div>
        </div>
      </ion-col>

      @if (status() === 'closed' && meeting$()?.collection) {
      <ion-col size="auto" class="ion-no-padding">
        <div class="avatar-circle">
          <img src="assets/img/pot-sm.png" alt="pot" />
        </div>
      </ion-col>
      <ion-col>
        <div class="stats-info">
          <div class="stats-numbers">
            {{ meeting$()?.collection | number:'.0'}}
          </div>
          <div class="stats-sub-label text-12">{{'collected' | translate}}</div>
        </div>
      </ion-col>
      }
    </ion-row>

  </ion-grid>
</ion-item>

