.card-container {
  --main-teal: #148f7d;
  --bg-teal: #e9f7f6;
  --text-dark: #0d3b36;

  background: var(--bg-teal);
  --background: var(--bg-teal);
  border-radius: 28px;
  padding: 10px 5px 10px 5px;
  margin: 10px 10px;
  color: var(--text-dark);

  // Closed Card
  &.closed {
    background: #f8f8f8;
    --background: #f8f8f8;
    color: #333;
    .status-label { color: #888; }
  }

  // Closed Pending sync Card
  &.closed-pending {
    background: #EFE6D8;
    --background: #EFE6D8;
    color: #3F3C37;
    .status-label { color: #7C6A4E; }
  }

  .title-serif {
    margin: 0;
    display: flex;
    align-items: start;
//    color: #161514;
    .title-chevron { font-size: 18px; margin-left: 4px; margin-top: 4px; color: #636363}
    .date-label {color: #636363}
//    &.progress {
//        color: #135D31;
//    }
  }

  .status-label {
    font-weight: 600;
    letter-spacing: 0.5px;
    display: block;
    margin-bottom: 6px;
    text-transform: uppercase;
//    &.progress {
 //     color: #41A167;
 //   }
  }

  .info-row {
    margin-top: 20px;
  }

  .info-content {
    display: flex;
    align-items: center;
    gap: 8px;
    .info-text { font-weight: 500;}
    .icon-emoji { font-size: 22px; }
  }

  /* Status Indicator (Boxes) */
  .status-boxes {
    display: flex;
    gap: 4px;
    justify-content: flex-end;
    margin-bottom: 2px;
    .box {
      width: 28px; height: 18px; border-radius: 6px;
      &.active { background: #c5eeea; border: 2px solid var(--main-teal); }
      &.empty { background: #d1d9d8; }
    }
  }

  .icon-container {
    ion-img {
      width: 32px;
      height: 32px;
    }
  }

  .circle-btn {
    --border-radius: 50%;
    background: #eeeeee;
    width: 36px; height: 36px; margin: 0;
  }
}