<ion-item class="card-container" [class]="status()" lines="none">
  <ion-grid class="ion-no-padding">
    
    <ion-row class="ion-align-items-start ion-margin-bottom">
      <ion-col size="12">
        <h4 class="title-serif" [class]="status()">
          {{ meeting$()?.place }}
          @if(status() == 'closed'){
           · &nbsp; <span class="date-label" >{{ fullDate() | date: 'MMM d'}}</span>
          }
          <ion-icon name="chevron-forward-outline" class="title-chevron"></ion-icon>
        </h4>
      </ion-col>
    </ion-row>

    <ion-row class="info-row">
      <ion-col size="4">
        <div class="info-content">
          <div class="icon-container">
            <ion-img src="assets/img/icons/calendar.png"></ion-img>
          </div>
          <span class="info-text text-16" [class]="status()">{{ fullDate() | date: 'MMM d'}}</span>
        </div>
        <span class="status-label text-12" [class]="status()">{{ status() === 'progress' ? 'opened' : 'closed' | translate}}</span>
      </ion-col>

      <ion-col size="4">
        <div class="info-content">
          <span class="icon-emoji">🤝</span>
          <span class="info-text text-16">{{ attendance }} / {{group?.numberofmembers}}</span>
        </div>
        <span class="status-label text-12">ATTENDED</span>
      </ion-col>

      @if (status() === 'closed' && meeting$()?.collection) {
        <ion-col size="4">
          <div class="info-content">
            <span class="icon-emoji">🏺</span>
            <span class="info-text text-16">{{ meeting$()?.collection | number:'.0'}}</span>
          </div>
          <span class="status-label text-12">COLLECTED</span>
        </ion-col>
      }

      @if (status() == 'progress') {
        <ion-col size="4" class="ion-text-end">
          <div class="progress-indicator">
            <div class="status-boxes">
              <span class="box active"></span>
              @if(meeting$()?.haspending){
                <span class="box active"></span>
              }@else{
                <span class="box empty"></span>
              }
              <span class="box empty"></span>
            </div>
            <span class="status-label text-12">In progress @if(meeting$()?.haspending){ / Sync }</span>
          </div>
        <!--@else {
          <div class="closed-action">
            <ion-button fill="clear" color="dark" class="circle-btn">
              <ion-icon name="chevron-forward-outline" slot="icon-only"></ion-icon>
            </ion-button>
          </div>
        }-->
      </ion-col>
      }
    </ion-row>
  </ion-grid>
</ion-item>

