<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{'support' | translate}}</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>
  <div class="support-logo">
    <img src="assets/img/maat.png" alt="ionic logo">
  </div>

  <form #submitForm="ngForm" novalidate (ngSubmit)="submit(submitForm)">
    <ion-list lines="none">
      <ion-item>
        <ion-label position="stacked" color="primary">{{'enter_support_message' | translate}}</ion-label>
        <ion-textarea [(ngModel)]="supportMessage" name="supportQuestion" #supportQuestion="ngModel" rows="6" required></ion-textarea>
      </ion-item>
    </ion-list>

    <ion-text color="danger">
      <p [hidden]="supportQuestion.valid || submitted === false" class="ion-padding-start">
        {{'support_message_is_required' | translate}}
      </p>
    </ion-text>

    <div class="ion-padding">
      <ion-button expand="block" type="submit">{{'submit' | translate}}</ion-button>
    </div>
  </form>

  <ion-list>
    <ion-item lines="none" *ngFor="let ticket of tickets">
      <ion-grid>
        <ion-row>
          <ion-label>
            <ion-text color="secondary">
              <ion-note class="ticket-date">
              {{ticket.created_at | date:'yyyy-MM-dd HH:mm:ss'}}
              </ion-note>
            </ion-text>
            <ion-text color="tertiary">
              <h5>
              {{ticket.body}}
              </h5>
            </ion-text>
          </ion-label>
        </ion-row>

        <ion-row *ngIf="ticket.response">
          <ion-col size="2">
            &nbsp;
          </ion-col>
          <ion-col>
            <ion-label>
              <ion-text color="secondary">
                <ion-note class="ticket-date">
                {{ticket.updated_at | date:'yyyy-MM-dd HH:mm:ss'}}
                </ion-note>
              </ion-text>
              <ion-text color="primary">
                <h5>
                {{ticket.response}}
                </h5>
              </ion-text>
            </ion-label>
          </ion-col>
        </ion-row>

      </ion-grid>
    </ion-item>

    <ion-row *ngIf="!tickets || tickets.length == 0">
      <ion-col>
        <ion-note class="ion-margin-left">
          {{'no_tickets_submitted' | translate}}
        </ion-note>
      </ion-col>
    </ion-row>
  </ion-list>
</ion-content>
