<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Program</ion-title>
    </ion-toolbar>
  
  </ion-header>

<ion-content>
  <ion-list-header color="success">
    <strong>Congress Dates</strong>
  </ion-list-header>
 <ion-list *ngFor="let day of dates">
    <ion-item routerLink="/app/tabs/program/schedule/{{day.id}}">
      {{day.date.replace("00:00:00","").trim() | date:' d MMMM yyyy'}}
    </ion-item>
 </ion-list>
</ion-content>
