<ion-list>
  <ion-item lines="none" class="ion-margin ion-border-rounded-20">
    <ion-label>
      <h4>Meeting in progress</h4>
      <p>You can continue entering transactions or review the current totals.</p>
    </ion-label>
  </ion-item>
</ion-list>

<div>
  <img class="arrow" src="assets/img/intro/up-arrow.png">
</div>

<ion-text>
  <h2 class="ion-margin">Meeting status</h2>
  <p class="ion-margin ion-padding-top">This indicator shows the current status of the meeting. This meeting is currently active. 
    You can continue entering transactions or review the current totals. 
    A new meeting can be started once this one is closed.</p>
</ion-text>