.action-image {
  margin-top: 100px;
  margin-bottom: 30px;
  padding: 10px;
}

ion-label {
  color: #757575 !important;
  flex: 0 0 51% !important; 
  overflow: hidden;
}

ion-text {
  color: #757575;
}
