<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Session Topics</ion-title>
    </ion-toolbar>

  </ion-header>

<ion-content>
 <img src="assets/img/sessions.png" class="track-image">
 <ion-list *ngFor="let track of tracks">
    <ion-item routerLink="/app/tabs/program/schedule/bytrack/{{track.id}}">
      <ion-icon name="options" slot="start"></ion-icon>
      {{track.title}}
    </ion-item>
 </ion-list>
</ion-content>
