<ion-header [translucent]="false">
  <ion-toolbar class="group-habs-header">
    <ion-title role="button">
      <div class="title-container">
        <h2 class="main-group-title">{{'group' | translate}}: {{group?.name}}</h2>
        <p class="sub-location text-12">{{country?.name}} · {{group?.ville}}</p>
      </div>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/countries" routerDirection="forward" class="flag-button">
        <ion-avatar class="flag-circle">
          <img [src]="'assets/flags/' + country?.flagcode?.toLowerCase() + '.svg'" />
        </ion-avatar>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
     <ion-buttons slot="start">
      <ion-back-button icon="chevron-back-outline" defaultHref="/app/tabs/dashboard">
      </ion-back-button>
      <ion-label>Back</ion-label>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button class="ion-margin-horizontal ion-margin-bottom" expand="block" shape="round" [disabled]="meeting_status != 'no-active'">{{'start_new_meeting' | translate}}</ion-button>
  @if(meeting_status == 'saved_local'){
   <ion-button class="ion-margin-horizontal" expand="block" shape="round" color="maat-secondary">{{'upload_data' | translate}}</ion-button>
  }
  @if(meeting_status == 'saved_offline'){
   <ion-button class="ion-margin-horizontal" expand="block" shape="round" color="maat-disabled" disabled>{{'upload_data' | translate}}</ion-button>
  }

  @if(lastmeeting && !show_all){
  <ion-list>
    <app-meeting-card 
      [meeting]="lastmeeting"
      attendance="18/22" (click)="openOptions(lastmeeting)">
    </app-meeting-card>
  </ion-list>
  }

  @if(!show_all){
  <ion-text class="ion-text-center" (click)="show_all_meetings()">
    <h4>{{'show_all_meetings' | translate}}</h4>
  </ion-text>
  }

  @if(show_all){
  <ion-list>
    @for (meeting of meetings; track meeting) {
     <app-meeting-card 
      [meeting]="meeting"
      attendance="18/22"
      collectedValue="200">
    </app-meeting-card>
    }
  </ion-list>
  }
</ion-content>
