<ion-header [translucent]="false">
  <ion-toolbar class="group-habs-header">
    <ion-title role="button">
      <div class="title-container">
        <h2 class="main-group-title">{{'group' | translate}}: {{group?.name}}</h2>
        <p class="sub-location text-12">{{country?.name}} · {{group?.ville}}</p>
      </div>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/countries" routerDirection="forward" class="flag-button">
        <ion-avatar class="flag-circle">
          <img [src]="'assets/flags/' + country?.flagcode?.toLowerCase() + '.svg'" />
        </ion-avatar>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
     <ion-buttons slot="start">
      <ion-back-button icon="chevron-back-outline" defaultHref="/app/tabs/dashboard">
      </ion-back-button>
      <ion-label>Back</ion-label>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item lines="none" class="meeting-status-item ion-margin-horizontal ion-border-rounded-20">
      <ion-label>
        <h4>{{'meetings' | translate}}</h4>
        <p>{{'messages.meetings.intro' | translate}}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-button class="ion-margin-horizontal ion-margin-bottom" expand="block" shape="round"
    [disabled]="meeting_status != 'no-active' && meeting_status != 'no-meetings'"
    routerLink="/new-meeting" routerDirection="forward">{{'start_new_meeting' | translate}}</ion-button>
  @if(meeting_status == 'saved_local'){
   <ion-button class="ion-margin-horizontal" expand="block" shape="round" color="maat-secondary">{{'upload_data' | translate}}</ion-button>
  }
  @if(meeting_status == 'saved_offline'){
   <ion-button class="ion-margin-horizontal" expand="block" shape="round" color="maat-disabled" disabled>{{'upload_data' | translate}}</ion-button>
  }

  @if(lastmeeting && !show_all){
  <ion-list>
    <app-meeting-card
      [meeting]="lastmeeting"
      [group]="group"
      (click)="openOptions(lastmeeting)">
    </app-meeting-card>
  </ion-list>
  }

  @if(!show_all && meetings && meetings.length > 0){
  <ion-text class="ion-text-center" (click)="show_all_meetings()">
    <h4>{{'show_all_meetings' | translate}}</h4>
  </ion-text>
  }

  @if(show_all){
  <ion-list>
    @for (meeting of meetings; track meeting) {
     <app-meeting-card
      [meeting]="meeting"
      [group]="group"
      (click)="openOptions(meeting)">
    </app-meeting-card>
    }
  </ion-list>
  }

  @if (!meetings || meetings.length == 0) {
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-note color="danger">
          {{'group_has_no_meetings' | translate}}
        </ion-note>
      </ion-col>
    </ion-row>
  }
</ion-content>
