<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     {{groupname}}
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/app/tabs/groups/{{groupid}}"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <app-status-icons></app-status-icons>
    </ion-buttons>
  </ion-toolbar>
  <ion-list lines="none" class="info-header">
    <ion-item>
      <ion-label>
        <h2>Meeting: <strong>{{meetingplace}}</strong></h2>
      </ion-label>
      <ion-note slot="end"><strong>{{meetingdate}}</strong></ion-note>
    </ion-item>
    <ion-item>
      <ion-icon size="large" name="information-circle-outline"></ion-icon>
      <div class="ion-padding-start">
        <ion-note>New transactions will be locally stored until uploading from the Group's page</ion-note>
      </div>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-text color="secondary">
        <h6>Cash</h6>
        </ion-text>
      </ion-label>
      <ion-badge  color="success">{{new_totals.cash | number:'.2'}}</ion-badge>
      &nbsp;
      <ion-label>
        <ion-text color="secondary">
        <h6>Balance:</h6>
        </ion-text>
      </ion-label>
      <ion-badge  color="danger">{{new_totals.balance | number:'.2'}}</ion-badge>
      &nbsp;
      <ion-label>
        <ion-text color="secondary">
        <h6>Credit:</h6>
        </ion-text>
      </ion-label>
      <ion-badge  color="danger">{{new_totals.credit | number:'.2'}}</ion-badge>
    </ion-item>
  </ion-list>
</ion-header>

<ion-content [fullscreen]="false">
  <ion-item>
    <ion-button class="ion-float-left" [fill]="selectedAll ? 'solid' : 'outline'" color="tertiary" shape="round" (click)="selectAll()">All</ion-button>
    <ion-text class="ion-margin-left" color="secondary" *ngIf="selectedAccounts">&nbsp;({{selectedAccounts}}) selected</ion-text>
    <ion-button [disabled]="selectedAccounts ? false : true" class="ion-float-right" slot="end" size="small" color="secondary" (click)="addTransactionModal($event, null)"><ion-icon name="add"></ion-icon></ion-button>
  </ion-item>
  <ion-list>
    <ion-item *ngFor="let account of accounts" [ngStyle]="{'--background': account.selected ? '#f5f5f5' : '', 'border-left': account.selected ? '5px solid #8ec8c2' : ''}"
              (click)="selectAccount(account)">
      <ion-label>
        <ion-text [color]="account.type == 1 ? '' : 'primary'">
          <h2>
            <ion-icon *ngIf="account.type != 1" name="people"></ion-icon>
            <ion-text color="primary" *ngIf="account.type == 1">({{account.num}}) </ion-text>{{account.owner}}
            <ion-note slot="end">
              <ion-button class="ion-float-right" size="small" color="success" (click)="showAccountInfo($event, account)">
                <ion-icon  name="information-outline"></ion-icon>
              </ion-button>
              <ion-button [disabled]="meeting.endedat || selectedAccounts" class="ion-float-right" size="small" color="secondary" (click)="addTransactionModal($event, account)"><ion-icon name="add"></ion-icon></ion-button>
            </ion-note>
          </h2>
         </ion-text>
        <ion-note class="sum-info">
          <ion-icon name="arrow-redo" color="success"></ion-icon> {{account.balance | number}}
          <ion-icon name="arrow-undo" color="danger"></ion-icon> {{account.restearembourser | number}} {{currency}}
          <ion-text *ngIf="account.openloans">({{account.openloans}})</ion-text>
        </ion-note>
        <ion-grid class="transactions ion-no-padding">
          <ion-row>
            <ion-col size="5">
              <p>
                Credit disp: <ion-text [color]="account.creditdisponible < 0 ? 'danger':''">{{account.creditdisponible | number}} {{currency}}</ion-text>
              </p>
              <p>
                Loan req.: {{account.besoinsliquidite | number}} {{currency}}
              </p>
            </ion-col>
            <ion-col>
              <ion-item color="light" *ngFor="let tr of account.transactions">
                <div>
                  <ion-note color="danger" *ngIf="tr.error"><ion-icon name="warning"></ion-icon> {{tr.error}}</ion-note>
                  <p>
                    {{tr.parametername}}: <strong>{{tr.amount | number:'.2'}}</strong>
                  </p>
                </div>
                <ion-button [disabled]="meeting.endedat" size="small" color="danger" slot="end" (click)="deleleTransaction($event, tr)"><ion-icon name="close"></ion-icon></ion-button>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
