ion-toolbar ion-note {
    color: #b6ecba;
    margin-right: 5px;
}

ion-label p {
    font-size: x-small;
    ion-text {
        font-weight: bold;
    }
}
ion-label ion-note {
    font-size: x-small;
}

ion-checkbox {
    width: 25px;
    --border-radius: 50%;
}

.sum-info {
    font-size: 11px;
}

.info-header {
    padding: 0 0 5px 0;
    ion-icon {
        color: red;
    }
    ion-item::part(native) {
        min-height: 25px;
    }
}

.actions {
   text-align: end;
}

.transactions {
    ion-item::part(native) {
        padding-left: 5px;
        min-height: 35px;
        --inner-padding-end: 3px;
        --inner-border-width: 0;
    }
}

