<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     <ion-icon name="people-outline"></ion-icon>
     {{groupname}}
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <app-status-icons></app-status-icons>
    </ion-buttons>
  </ion-toolbar>
  <ion-item>
    <ion-label>
      <h2>{{meetingplace}}</h2>
    </ion-label>
    <ion-note slot="end"><strong>{{meetingdate}}</strong></ion-note>
  </ion-item>
</ion-header>

<ion-content [fullscreen]="false">
  <ion-list>
    <ion-item *ngFor="let account of accounts" >
      <ion-label>
        <h2>
          {{account.owner}}
        </h2>
        <p>
          Credit disp: <ion-text [color]="account.creditdisponible < 0 ? 'danger':''">{{account.creditdisponible | number}} {{currency}}</ion-text>
        </p>
        <p>
          Demande de prêt: {{account.besoinsliquidite | number}} {{currency}}
        </p>
       
        <ion-item class="transactions" color="light" *ngFor="let tr of account.transactions">
          <p>
            {{tr.parametername}}: <strong>{{tr.amount | number}}</strong>
          </p>
          <ion-button size="small" color="danger" slot="end" (click)="deleleTransaction(tr)"><ion-icon name="close"></ion-icon></ion-button>
        </ion-item>

      </ion-label>
      <ion-note slot="end">
        <ion-icon name="arrow-redo" color="success"></ion-icon> {{account.balance | number}}
        <ion-icon name="arrow-undo" color="danger"></ion-icon> {{account.restearembourser | number}} {{currency}}
        <p>&nbsp;</p>
        <p class="actions">
          <ion-button size="small" color="tertiary" (click)="presentModal($event, account)"><ion-icon name="swap-horizontal-outline"></ion-icon></ion-button>
        </p>
      </ion-note>
    </ion-item>
  </ion-list>
</ion-content>
