<ion-header [translucent]="false">
  <ion-toolbar class="group-habs-header">
    <ion-title role="button">
      <div class="title-container">
        <h2 class="main-group-title">{{'group' | translate}}: {{group?.name}}</h2>
        <p class="sub-location text-12">{{country?.name}} · {{group?.ville}}</p>
      </div>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/countries" routerDirection="forward" class="flag-button">
        <ion-avatar class="flag-circle">
          <img [src]="'assets/flags/' + country?.flagcode?.toLowerCase() + '.svg'"/>
        </ion-avatar>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
     <ion-buttons slot="start">
      <ion-back-button icon="chevron-back-outline" defaultHref="/app/tabs/dashboard">
      </ion-back-button>
      <ion-label>Back</ion-label>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <div class="summary-card ion-padding">
    <h3 class="serif-text ion-no-margin">{{ meeting?.place }} summary</h3>
    
    <ion-grid class="ion-no-padding ion-margin-top">
      <ion-row>
        <ion-col class="ion-text-center">
          <h1 class="stat-value ion-no-margin">@if(meeting?.collection > 0){ {{ meeting?.collection | number:'.0'}} }@else{ 0 }</h1>
          <p class="stat-label text-12">{{currency}} {{'collected' | translate}}</p>
        </ion-col>
        <ion-col class="ion-text-center">
          <h1 class="stat-value ion-no-margin">{{ new_totals?.loans }}</h1>
          <p class="stat-label text-12">Maats {{'issued' | translate}}</p>
        </ion-col>
      </ion-row>

      <ion-row class="ion-margin-top footer-stats">
        <ion-col size="4">
          <span class="mini-label ion-text-uppercase text-12">
            @if(status == 'progress'){ {{'opened' | translate}} }
            @else{ {{'closed' | translate}} }
          </span>
          <div class="stat-row">
            <div class="mini-calendar">
              <div class="cal-top">{{ fullDate | date: 'MMM' }}</div>
              <div class="cal-bottom">{{ fullDate | date: 'd'}}</div>
            </div>
            <span class="info-text text-16">{{ fullDate | date: 'MMM d'}}</span>
          </div>
        </ion-col>
        <ion-col size="4">
          <span class="mini-label ion-text-uppercase text-12">Highest Day</span>
          <div class="stat-row">
            <span>🔥</span>
            <span class="small-val">{{group?.maxcollection | number:'.0'}} {{currency}}</span>
          </div>
        </ion-col>
        <ion-col size="4">
          <span class="mini-label ion-text-uppercase text-12">Attended</span>
          <div class="stat-row">
            <span>🤝</span>
            <span class="small-val">{{num_ECP}}/{{group?.numberofmembers}}</span>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ion-list class="ion-margin-top" lines="none">
    @for (account of accounts; track account.id) {
      <ion-item class="member-item ion-margin-bottom ion-border-rounded-20" color="light">
        <ion-grid class="ion-no-padding ion-no-margin">

          <ion-row>
            <ion-col size="2">        
              <ion-avatar [class]="'avatar-' + account?.status">
                <div class="status-icon">
                  <ion-icon [name]="account?.status == 'sad'? account?.status : 'happy'"></ion-icon>
                </div>
              </ion-avatar>
            </ion-col>
            <ion-col size="5">
              <ion-label>
                <h5 class="member-name">{{ account.owner }}</h5>
              </ion-label>
            </ion-col>
            <ion-col size="5">
              <div class="badge-container">
                @if (pf(account?.restearembourser) > 0) {
                <div [class]="account?.loans_expired ? 'custom-badge maat-badge-due' : 'custom-badge maat-badge'" slot="end">
                  <span class="val text-16">{{ account.restearembourser }}</span>
                  <span class="lab text-12">Maat</span>
                </div>
                }
                @if (pf(account?.balance) > 0) {
                <div class="custom-badge balance-badge">
                  <span class="val text-16">{{ account.balance }}</span>
                  <span class="lab text-12">Balance</span>
                </div>
                }
              </div>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <div class="due-container ion-margin-vertical">
                @if(account?.missing_contribs){
                  @if(account?.missing_rcb){
                  <p class="warning-text">
                    <ion-icon [name]="account?.icon || 'close'" color="danger"></ion-icon>
                    {{ 'missing_regular_contribs' | translate }} {{account?.missing_rcb}} {{currency}}
                  </p>
                  }
                  @if(account?.missing_sfcb){
                  <p class="warning-text">
                    <ion-icon [name]="account?.icon || 'close'" color="danger"></ion-icon>
                    {{ 'missing_sf_contribs' | translate }} {{account?.missing_sfcb}} {{currency}}
                  </p>
                  }
                  @if(account?.missing_fcp){
                  <p class="warning-text">
                    <ion-icon [name]="account?.icon || 'close'" color="danger"></ion-icon>
                    {{ 'missing_facp_contribs' | translate }} {{account?.missing_fcp}} {{currency}}
                  </p>
                  }
                }
                @if(pf(account?.appliedfines) > 0){
                <p class="warning-text">
                  <ion-icon [name]="account?.icon || 'warning-outline'" color="warning"></ion-icon>
                  {{ 'fine_applied' | translate }} {{account?.appliedfines}} {{currency}}
                </p>
                }
              </div>
            </ion-col>
          </ion-row>

        </ion-grid>
      </ion-item>
    }
  </ion-list>
</ion-content>

<!-- <ion-content [fullscreen]="false">
  <ion-item>
    <ion-button class="ion-float-left" [fill]="selectedAll ? 'solid' : 'outline'" color="tertiary" shape="round" (click)="selectAll()">{{'all' | translate}}</ion-button>
    @if (selectedAccounts) {
      <ion-text class="ion-margin-left" color="secondary">&nbsp;({{selectedAccounts}}) selected</ion-text>
    }
    <ion-button [disabled]="selectedAccounts ? false : true" class="ion-float-right" slot="end" size="small" color="secondary" (click)="addTransactionModal($event, null)"><ion-icon name="add"></ion-icon></ion-button>
  </ion-item>
  <ion-list>
    @for (account of accounts; track account) {
      <ion-item [ngStyle]="{'--background': account.selected ? '#f5f5f5' : '', 'border-left': account.selected ? '5px solid #8ec8c2' : ''}"
        (click)="selectAccount(account)">
        <ion-label>
          <ion-text [color]="account.type == 1 ? '' : 'primary'">
            <h2>
              @if (account.type != 1) {
                <ion-icon name="people"></ion-icon>
              }
              @if (account.type == 1) {
                <ion-text color="primary">({{account.num}}) </ion-text>
                }{{account.owner}}
                <ion-note slot="end">
                  <ion-button class="ion-float-right" size="small" color="success" (click)="showAccountInfo($event, account)">
                    <ion-icon  name="information-outline"></ion-icon>
                  </ion-button>
                  <ion-button [disabled]="meeting.endedat || selectedAccounts" class="ion-float-right" size="small" color="secondary" (click)="addTransactionModal($event, account)"><ion-icon name="add"></ion-icon></ion-button>
                </ion-note>
              </h2>
            </ion-text>
            <ion-note class="sum-info">
              <ion-icon name="arrow-redo" color="success"></ion-icon> {{account.balance | number}}
              <ion-icon name="arrow-undo" color="danger"></ion-icon> {{account.restearembourser | number}} {{currency}}
              @if (account.openloans) {
                <ion-text>({{account.openloans}})</ion-text>
              }
            </ion-note>
            <ion-grid class="transactions ion-no-padding">
              <ion-row>
                <ion-col size="5">
                  <p>
                    {{'credit_disp' | translate}}: <ion-text [color]="account.creditdisponible < 0 ? 'danger':''">{{account.creditdisponible | number}} {{currency}}</ion-text>
                  </p>
                  <p>
                    {{'loan_req' | translate}}: {{account.besoinsliquidite | number}} {{currency}}
                  </p>
                </ion-col>
                <ion-col>
                  @for (tr of account.transactions; track tr) {
                    <ion-item color="light">
                      <div>
                        @if (tr.error) {
                          <ion-note color="danger"><ion-icon name="warning"></ion-icon> {{tr.error}}</ion-note>
                        }
                        <p>
                          {{tr.parametername}}: <strong>{{tr.amount | number:'.2'}}</strong>
                        </p>
                      </div>
                      <ion-button [disabled]="meeting.endedat" size="small" color="danger" slot="end" (click)="deleleTransaction($event, tr)"><ion-icon name="close"></ion-icon></ion-button>
                    </ion-item>
                  }
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-label>
        </ion-item>
      }
    </ion-list>
  </ion-content>-->
