ion-toolbar ion-note {
    color: #b6ecba;
    margin-right: 5px;
}

ion-label p {
    font-size: x-small;
    ion-text {
        font-weight: bold;
    }
}

.sum-info {
    font-size: 11px;
}

.info-icon {
    font-size: large;
}

.actions {
   text-align: end;
}

.transactions {
    ion-item::part(native) {
        padding-left: 5px;
        min-height: 35px;
        --inner-padding-end: 3px;
        --inner-border-width: 0;
    }
}

