ion-toolbar ion-note {
    color: #b6ecba;
    margin-right: 5px;
}

ion-label p {
    font-size: x-small;
    ion-text {
        font-weight: bold;
    }
}

.info-icon {
    font-size: large;
}

.actions {
   text-align: end;
}