<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center"><h2>{{account.owner}}</h2></ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="balance-card">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="8"><ion-icon src="assets/img/icons/transactions/wallet-plus.svg" color="primary"></ion-icon> <strong>{{'balance' | translate}}:</strong></ion-col><ion-col class="ion-text-end"><ion-text color="primary"><strong>{{account.balance | number:'.2'}}</strong></ion-text></ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="8"><strong>{{'credit_available' | translate}}:</strong></ion-col><ion-col class="ion-text-end"><ion-text color="success"><strong>{{account.creditdisponible | number:'.2'}}</strong></ion-text></ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="8"><ion-icon src="assets/img/icons/transactions/feather.svg" color="primary"></ion-icon><strong> {{'loans' | translate}}:</strong></ion-col><ion-col class="ion-text-end"><ion-text>{{account.emprunts | number:'.2'}}</ion-text></ion-col>
        </ion-row>
        @if(account.type == 1){
        <ion-row>
          <ion-col size="8">{{'open_loans' | translate}}:</ion-col>
          <ion-col class="ion-text-end"><ion-text [color]="account.openloans > 0 ? 'danger' : ''"><strong>{{account.openloans}}</strong></ion-text></ion-col>
        </ion-row>
        }
        @if (account.restearembourser > 0) {
          <ion-row>
            @if(account.type == 1){
              <ion-col size="6" class="ion-padding-start">-- {{'due_date' | translate}}:</ion-col><ion-col class="ion-text-end"><ion-text [color]="loans_expired ? 'danger': ''">{{account.dateecheance}}</ion-text></ion-col>
            }
            <ion-col size="8" class="ion-padding-start">-- {{'still_to_be_paid_today' | translate}}:</ion-col><ion-col class="ion-text-end"><ion-text [color]="loans_expired ? 'danger': ''"><strong>{{account.restearembourser | number:'.2'}}</strong></ion-text></ion-col>
          </ion-row>
        }
        @if (account.restearembourser > 0 && !loans_expired && account.type == 1) {
          <ion-row>
            <ion-col size="8" class="ion-padding-start">-- {{'still_to_be_paid_due_date' | translate}}:</ion-col><ion-col class="ion-text-end"><ion-text color="primary"><strong>{{account.finalrefund | number:'.2'}}</strong></ion-text></ion-col>
          </ion-row>
        }
        @if (account.loancategories) {
          <ion-row>
            <ion-col size="8" class="ion-padding-start"><ion-text color="warning">&nbsp;<strong>{{account.loancategories}}</strong></ion-text></ion-col>
          </ion-row>
        }
        @if (account.inputnotes) {
          <ion-row>
            <ion-col size="8" class="ion-padding-start"><ion-text color="warning">&nbsp;<strong>{{account.inputnotes}}</strong></ion-text></ion-col>
          </ion-row>
        }
        <ion-row>
          <ion-col size="8"><ion-icon src="assets/img/icons/transactions/sprout.svg" color="primary"></ion-icon> {{'loan_req' | translate}}:</ion-col><ion-col class="ion-text-end">{{account.besoinsliquidite | number:'.2'}}</ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-grid>
        <!--<ion-row>
          <ion-col size="8"><ion-icon src="assets/img/icons/transactions/ribbon.svg" color="primary"></ion-icon> <strong>SF {{'contributions' | translate}}:</strong></ion-col><ion-col class="ion-text-end"><strong>{{account.sfcontribution | number:'.2'}}</strong></ion-col>
        </ion-row>-->
        <ion-row>
          <ion-col size="8"><ion-icon src="assets/img/icons/transactions/vase-plus.svg" color="primary"></ion-icon> <strong>SF {{'loans' | translate}}:</strong></ion-col>
          <ion-col class="ion-text-end"><ion-text>{{account.sfemprunts | number:'.2'}}</ion-text></ion-col>
        </ion-row>
          @if (account.sfemprunts > 0) {
          <ion-row>
            @if(account.type == 1){
              <ion-col size="6" class="ion-padding-start">-- {{'due_date' | translate}}:</ion-col><ion-col class="ion-text-end"><ion-text [color]="sfloans_expired ? 'danger': ''">{{account.sfdateecheance}}</ion-text></ion-col>
            }
            <ion-col size="8" class="ion-padding-start">-- SF {{'still_to_be_paid' | translate}}:</ion-col><ion-col class="ion-text-end"><ion-text [color]="sfloans_expired ? 'danger': ''"><strong>{{account.sfrestearembourser | number:'.2'}}</strong></ion-text></ion-col>
          </ion-row>
          }
          @if(account.type == 1){
          <ion-row>
            <ion-col size="8">{{'open_SF_loans' | translate}}:</ion-col>
            <ion-col class="ion-text-end"><ion-text [color]="account.sfopenloans > 0 ? 'danger' : ''"><strong>{{account.sfopenloans}}</strong></ion-text></ion-col>
          </ion-row>
          }
        </ion-grid>
    </ion-card-content>
  </ion-card>

  @if(account.type == 1){
  <ion-card>
    <ion-card-content>
      <ion-grid>
          <ion-row>
            <ion-col size="8">{{'reg_contributions_due' | translate}}:</ion-col><ion-col class="ion-text-end"><ion-text [color]="pf(account.due_reg) > 0 ? 'danger' : ''"><strong>{{account.due_reg | number:'.2'}}</strong></ion-text></ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="8">SF {{'contributions_due' | translate}}:</ion-col><ion-col class="ion-text-end"><ion-text [color]="pf(account.due_sf) > 0 ? 'danger' : ''"><strong>{{account.due_sf | number:'.2'}}</strong></ion-text></ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="8">{{'facilitator_payments_due' | translate}}:</ion-col><ion-col class="ion-text-end"><ion-text [color]="pf(account.due_facp) > 0 ? 'danger' : ''"><strong>{{account.due_facp | number:'.2'}}</strong></ion-text></ion-col>
          </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  }
  
  <div class="ion-text-center">
    <ion-button fill="clear" class="review-btn" (click)="show_details = !show_details">
      {{(show_details ? 'hide' : 'review_details') | translate}}
    </ion-button>
  </div>

  @if(show_details){
  <ion-text color="secondary">
    <ion-label>
      <ion-icon name="swap-horizontal-outline" class="account-type"></ion-icon>
      {{'total_transactions' | translate}}
    </ion-label>
  </ion-text>
  
  <ion-card>
    <ion-card-content>
      <ion-grid>
        @for (oper of account.operations | keyvalue; track oper) {
          <ion-row>
            <ion-col size="9">{{oper.key}}</ion-col><ion-col class="ion-text-end">{{oper.value | number:'.2'}}</ion-col>
          </ion-row>
        }
      </ion-grid>
    </ion-card-content>
  </ion-card>
  }

</ion-content>

