.account-type {
  vertical-align: bottom;
  color: grey;
  margin-right: 10px;
  margin-left: 10px;
}

ion-card {
  --ion-card-background: #f7f7f7; //#fef8f0;
  ion-icon {
    vertical-align: top;
  }
}
