.conf-div {
    margin-top: 20px;
    img {
        max-width: 250px;
    }
}

ion-list {
    height: 100%;
    background: #ebf3fb;
    ion-item {
        margin-bottom: 10px;
        --border-style: none;
        border-radius: 10px;
    }
}