.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.image-wrapper {
  margin-bottom: 30px;
  img {
    max-width: 250px;
    height: auto;
  }
}

.serif-title {
  margin-bottom: 15px;
}

.description {
  line-height: 1.5;
  padding: 0 20px;
}

