<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center ion-margin-top"><h3>{{ title }}</h3></ion-title>
    <p class="text-12 ion-text-center ion-no-margin">{{ subtitle }}</p>
  </ion-toolbar>
  <ion-toolbar>
    @if(hasBackButton){
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back-outline" defaultHref="" (click)="click('close')" >
      </ion-back-button>
      <ion-label>Back</ion-label>
    </ion-buttons>
    }
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <div class="main-container">
    <div class="image-wrapper">
      <img [src]="image" alt="action illustration" />
    </div>

    <div class="text-wrapper">
      <h5 class="serif-title">{{ heading }}</h5>
      <p class="description text-14">{{ description }}</p>
    </div>
  </div>
</ion-content>

<ion-footer class="ion-no-border ion-padding">
  <div class="button-group">
    @for(button of buttons; track button){
    <ion-button expand="block" class="primary-action" shape="round" (click)="click(button.action)" [color]="button.color">
      {{ button.text }}
    </ion-button>
    }
  </div>
</ion-footer>