ion-header {
  background: transparent !important;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

ion-toolbar {
  --background: transparent !important;
  --ion-color-base: transparent !important;
  --border-style: none !important;
  --border-width: 0 !important;
  border-style: none !important;
  backdrop-filter: none !important;
  -webkit-backdrop-filter: none !important;
}

ion-button {
  background-color: #f5f5f5;
  border-radius: 50%;
}

.fade-bottom {
  -webkit-mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
          mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
  display: block;
  width: 100%;
}

