<ion-header class="ion-no-border">
  <ion-toolbar class="transparent-toolbar">
    <ion-buttons slot="start">
      <ion-button routerLink="/app/dashboard" routerDirection="forward">
        <ion-icon name="close-outline" ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <div class="image-container">
  <img src="assets/img/intro/page-about-header.png" class="fade-bottom">
  </div>
  <ion-text>
    <h1 class="ion-margin-horizontal">{{'what_is_maat' | translate}}</h1>
  </ion-text>
  <div class="ion-margin">
  @if (curLang == 'en') {
    <ion-note>
      <p>Ma'at is a self-governance system that provides the methods and tools for collective prosperity. It's based on trust, transparency and solidarity.</p>
      <p>Ma'at vision is about blooming ecologies and economies. It is about peasants living with dignity and pride, able to invest in their own farms and communities.</p>
      <p>The name Ma'at comes from the Egyptian Goddess of harmony and justice.</p>
      <p>Mission</p>
      <ul>
        <li>Build collective tools</li>
        <li>Develop a community of practice</li>
        <li>Create a web of interactive funds</li>
      </ul>
    </ion-note>
  }

  @if (curLang == 'fr') {
    <ion-note>
      <p>Ma'at est un système d'auto-gestion qui fournit des méthodes et des outils pour la prospérité collective. Il repose sur la confiance, la transparence et la solidarité.</p>
      <p>La vision de Ma'at concerne l'épanouissement des écologies et des économies. Il s'agit de paysans vivant avec dignité et fierté, capables d'investir dans leurs propres exploitations et communautés.</p>
      <p>Le nom Ma'at vient de la déesse égyptienne de l'harmonie et de la justice.</p>
      <p>Mission</p>
      <ul>
        <li>Construire des outils collectifs</li>
        <li>Développer une communauté de pratique</li>
        <li>Créer un réseau de fonds interactifs</li>
      </ul>
    </ion-note>
  }

  @if (curLang == 'es') {
    <ion-note>
      <p>Ma'at es un sistema de autogobierno que proporciona métodos y herramientas para la prosperidad colectiva. Se basa en la confianza, la transparencia y la solidaridad.</p>
      <p>La visión de Ma'at trata sobre ecologías y economías florecientes. Se trata de campesinos que viven con dignidad y orgullo, capaces de invertir en sus propias granjas y comunidades.</p>
      <p>El nombre Ma'at proviene de la diosa egipcia de la armonía y la justicia.</p>
      <p>Misión</p>
      <ul>
        <li>Construir herramientas colectivas</li>
        <li>Desarrollar una comunidad de práctica</li>
        <li>Crear una red de fondos interactivos</li>
      </ul>
    </ion-note>
  }

  @if (curLang == 'pt') {
    <ion-note>
      <p>Ma'at é um sistema de autogestão que fornece métodos e ferramentas para a prosperidade coletiva. Baseia-se na confiança, transparência e solidariedade.</p>
      <p>A visão de Ma'at é sobre ecologias e economias florescentes. Trata-se de camponeses vivendo com dignidade e orgulho, capazes de investir em suas próprias fazendas e comunidades.</p>
      <p>O nome Ma'at vem da deusa egípcia da harmonia e da justiça.</p>
      <p>Missão</p>
      <ul>
        <li>Construir ferramentas coletivas</li>
        <li>Desenvolver uma comunidade de prática</li>
        <li>Criar uma rede de fundos interativos</li>
      </ul>
    </ion-note>
  }
  </div>

  <ion-footer>
    <ion-button class="ion-margin" expand="block" shape="round" routerLink="/app/dashboard">{{'go_to_dashboard' | translate}}</ion-button>
  </ion-footer>
</ion-content>

