<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{'about' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-text class="ion-text-center" color="primary">
    <img src="/assets/img/maat_dark.png">
    <!--<h3>MA'AT</h3>-->
  </ion-text>
  <ion-text class="ion-text-center">
    <h4></h4>
  </ion-text>
  <ion-note>
<p>MA'AT is a revolutionary collective credit system and the solution to creating a collective fund.</p>
<p>Ma'at vision is about blooming ecologies and economies. It is about farmers living with dignity and pride,
able to invest in their farms and communities, receiving a fair price for what they produce.</p>
<p>The name MA'AT comes from an Egyptian goddess. She was the goddess of harmony, justice, and truth. The significance
of Ma'at embraces all aspects of existence, including the basic equilibrium of the universe, the cycle of the seasons, honesty,
and truthfulness in social interactions. The ancient Egyptians had a deep conviction of an underlying holiness and unity within the universe.</p>
<p>Mission</p>
  <ul>
  <li>Develop and apply the tools for credit access</li>
  <li>Build a community of practice</li>
  <li>Hit impact and scale internationally</li>
  </ul>
<p>Ma'at brings a revolution in credit lending. It is the microfinance next generation. With Ma’at, dreams come true.</p>
<p>There are no obligations attached, just to respect the Ma’at rules. Farmers can borrow and pay back as and when
they want according to the group rules. No collateral and no risks associated. There is no dependency to a bank, a donor, or a public institution.</p>
<p>Ma'at creates wealth and well-being and is based on independence, autonomy and self-determination. It pools local value and reinvests
it into the community. It allows small groups to thrive and self-replicate and to invest individually and collectively.</p>
  </ion-note>
</ion-content>
