<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-text class="ion-text-center" color="primary">
  <h3>MAAT Peasant App</h3>
  </ion-text>
  <ion-text class="ion-text-center">
  <h4></h4>
  </ion-text>
  <ion-note>
    Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt
    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrum exercitationem
     ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur. 
     Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
     Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.  
  </ion-note>
</ion-content>
