<ion-header translucent>
  <ion-toolbar>
    <ion-title class="ion-text-center"><h4>{{'place' | translate}}</h4></ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">
  <ion-list>
    <ion-item color="light" lines="none" class="ion-margin-horizontal ion-border-rounded-20">
      <ion-input type="input" [(ngModel)]="place" (ionInput)="onPlaceChange($event)" placeholder="{{'place' | translate}}" style="width: auto;"></ion-input>
    </ion-item>
  </ion-list>
   <ion-button expand="block" shape="round" (click)="valider()" class="ion-margin-horizontal">{{'save' | translate}}</ion-button>
</ion-content>

