<ion-content [fullscreen]="true" class="splash-content">
  <div class="wrapper">
    <div class="center-content-container">
    
      @if(showWelcome){
      <div class="welcome-section" *ngIf="showWelcome">
        <div class="welcome-content">
          <h1 class="welcome-title">{{'intro.page-1.title' | translate}}</h1>
          <p class="welcome-text">
          {{'intro.page-1.message' | translate}}
          </p>
        </div>
      </div>
      }@else{
      <div class="logo-state" *ngIf="!showWelcome">
        <img src="assets/img/intro/Maat-logo.png" alt="MAAT Logo" class="logo">
      </div>
      }

    </div>
    <div class="footer-image-container">
      <img src="assets/img/intro/group-splash.png" alt="People" class="people-img">
    </div>
  </div>
</ion-content>
