<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center"><h2>{{'select_country' | translate}}</h2></ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-label class="text-14">Back</ion-label>
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back-outline" defaultHref="/app/tabs/dashboard"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    @for (country of countries; track country.id) {
      <ion-item lines="none" color="light" class="ion-border-rounded-30 ion-margin-start ion-margin-end ion-margin-bottom" (click)="navto(country)">
        <ion-avatar class="flag-circle">
          <img [src]="'assets/flags/' + country.flagcode?.toLowerCase() + '.svg'" />
        </ion-avatar>
        <ion-label color="dark">
          <ion-text>
            <h5>{{country.name}}</h5>
          </ion-text>
          <p color="dark">
            {{country.groups.length - 1}} {{'groups' | translate}}
          </p>
        </ion-label>
        @if(country.id === currentid){
          <ion-icon name="checkmark-circle" slot="end" color="success"></ion-icon>
        }
      </ion-item>
    }
  </ion-list>
</ion-content>
