.login-logo {
  padding: 20px 0;
  min-height: 100px;
  text-align: center;
}

.login-logo img {
  max-width: 150px;
}

ion-input {
  background-color: #ebeaea;
  border-radius: 20px;
  padding-left: 10px !important;
}

ion-list {
  margin: 0 !important;
  padding:0 !important;
}

ion-item{
  --padding-start: 5px;
}

ion-text {
  font-size: 12px;
  color: grey;
}
