.login-header {
  background: url('/assets/img/feather-col.png');
  background-position:left 0px bottom 10px;
  background-repeat: no-repeat;
  background-size: 30%;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  h1 {
    margin: 0px;
    padding-left: 10px;
  }
}

ion-input {
  background-color: #ebeaea;
  border-radius: 20px;
  padding-left: 10px !important;
  --placeholder-color: #b3b3b3;
  --placeholder-opacity: 1;
}

ion-list {
  margin: 0 !important;
  margin-top: 35px !important;
  padding:0 !important;
}

ion-item{
  --padding-start: 5px;
}

ion-text {
  color: rgb(155, 155, 155);
}

.big-margin {
  margin-top: 20px;
}
