<ion-header translucent>
  <ion-toolbar>
    <ion-title class="ion-text-center"><h4>{{'new_maat' | translate}}</h4></ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="ion-margin">
    <ion-item lines="none">
      <ion-label>
        <h5>{{account.owner}}</h5>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-list class="ion-margin">
    <ion-item lines="none" class="ion-no-padding">
      <ion-label class="ion-no-margin ion-text-nowrap">
        {{'new_maat'}}
      </ion-label>
      <ion-input type="number" class="ion-no-margin amount" [(ngModel)]="amount" placeholder="0"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label class="ion-no-margin ion-text-nowrap">
        {{'notes' | translate}}
      </ion-label>
      <ion-input type="text" class="ion-no-margin" [(ngModel)]="notes"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button expand="block" color="primary" shape="round" (click)="dismiss(true)" class="ion-margin-horizontal">{{'save' | translate}}</ion-button>
</ion-content>

