
ion-list {
  background: #F6F7F9;
  border-radius: 20px;
  --ion-item-background: none;
}

ion-input.amount{
    max-width: 80px;
    text-align: end;
    font-size: larger;
    font-weight: bold;
    --background: #fff;
}

ion-input {
  --background: rgb(255, 255, 255);
}

ion-list {
  border-radius: 10px;
}