<ion-header translucent>
  <ion-toolbar>
    <ion-title class="ion-text-center"><h2>{{'new_maat' | translate}}</h2></ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="info-card ion-margin ion-display-flex ion-justify-content-between ion-align-items-center ion-margin-bottom">
    <div class="user-details">
      <h5 class="user-name ion-no-margin">{{account.owner}}</h5>
      <p class="user-availability ion-no-margin">
        {{'maats_available' | translate}}: {{account.creditdisponible}} {{country.currency}}
      </p>
      @if(pf(account.besoinsliquidite) > 0){
        <p class="ion-no-margin"><ion-note color="primary" class="text-12">{{'maats_requests' | translate}}: {{account?.besoinsliquidite | number:'.0'}} {{country.currency}}</ion-note></p>
      }
    </div>
    <div class="numeric-input-wrapper">
      <ion-input type="number" placeholder="0" class="centered-numeric-input" [(ngModel)]="amount"></ion-input>
    </div>
  </div>
  <div class="ion-margin">
    <ion-input placeholder="{{'notes' | translate}}" class="purple-border-input" [(ngModel)]="notes"></ion-input>
  </div>
  <ion-button expand="block" color="primary" shape="round" (click)="dismiss(true)" class="ion-margin-horizontal">{{'save' | translate}}</ion-button>
</ion-content>

