.active {
  color: var(--ion-color-primary);
  ion-icon {
    color: var(--ion-color-primary);
  }
}

.speaker-capacity {
  color: #ac0606;
}

.speaker-wg {
  color: green;
}

.session-title {
  color: #ae0c0c;
}