.header-md,
.footer-md,
ion-card {
  box-shadow: none;
}

.md .menu-header {
  color: #cac8c8;
  padding: 5px !important;
}

ion-toolbar ion-buttons {
  ion-button, ion-back-button{
    background-color: #F3EDF7;
    border-radius: 50%;
  }
}

ion-toolbar ion-searchbar {
  --box-shadow: none !important;
}

.ion-border-rounded {
  border-radius: 5px !important;
  overflow: hidden;
}

ion-toast.toast-alert {
  opacity: 0.9;
  text-align: center;
  font-weight: bold;
  color: white;
  --background: red;
}

ion-toast.toast-success {
  opacity: 0.9;
  text-align: center;
  font-weight: bold;
  color: white;
  --background: rgb(35, 224, 17);
}


