.active {
  color: var(--ion-color-primary);
  ion-icon {
    color: var(--ion-color-primary);
  }
}

.speaker-capacity {
  color: #ac0606;
}

.speaker-wg {
  color: green;
}

.session-title {
  font-size: 1.1em;
  color: var(--ion-col-dark);
}

.md .menu-header {
  color: #cac8c8;
  padding: 5px !important;
}

ion-card {
  border-radius: 0px !important;
}

.header-img-ios {
  width: 170px;
}

.header-img-md {
  height: 30px;
}

.ios .header-title-md {
  display: none;
}

.ios .header-img-md {
  display: none;
}

.md .header-img-ios {
  display: none;
}


