.active {
  color: var(--ion-color-primary);
  ion-icon {
    color: var(--ion-color-primary);
  }
}

.speaker-capacity {
  color: #ac0606;
}

.speaker-wg {
  color: green;
}

.session-title {
  font-size: 1.1em;
}

.menu-header {
  color: #cac8c8;
  padding: 10px !important;
}

.menu-header img {
  width:80px;
  height: 30px;
}

ion-card {
  border-radius: 0px !important;
}
