.active {
  color: var(--ion-color-primary);
  ion-icon {
    color: var(--ion-color-primary);
  }
}

.md .menu-header {
  color: #cac8c8;
  padding: 5px !important;
}

/*ion-card {
  border-radius: 0px;
  padding-right: 5px;
  box-shadow: none;
  /*border-left: 10px solid #dadaff;*/
  /*border-left: 1px solid #cecbcb;
  border-bottom: 1px solid #cecbcb;
  border-radius: 0px 0px 0px 15px;
}*/

.header-img-ios {
  width: 70px;
}

.header-img-md {
  height: 70px;
}

.ios .header-title-md {
  display: none;
}

.ios .header-img-md {
  display: none;
}

.md .header-img-ios {
  display: none;
}

ion-toast.toast-alert {
  opacity: 0.9;
  text-align: center;
  font-weight: bold;
  color: white;
  --background: red;
}

ion-toast.toast-success {
  opacity: 0.9;
  text-align: center;
  font-weight: bold;
  color: white;
  --background: rgb(35, 224, 17);
}

.action-sheet-group-cancel {
  border-top: 1px solid grey;
  .action-sheet-button {
    color: grey;
  }
}

