<ion-app>
  <ion-split-pane contentId="main-content">

    <ion-menu contentId="main-content" type="overlay">
      <ion-header>
        <ion-toolbar class="ion-text-center menu-header">
          <img src="/assets/img/maat_light.png" class="header-img-md">
          <img src="/assets/img/maat_dark.png" class="header-img-ios">
          <!--<ion-title class="header-title-md md" >Collective Credit System</ion-title>-->
        </ion-toolbar>
      </ion-header>

      <ion-content>

        <ion-list>
          <ion-menu-toggle autoHide="false">
            <ion-item routerLink="/home" routerDirection="root">
              <ion-icon slot="start" name="home"></ion-icon>
              <ion-label>{{'home' | translate}}</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle autoHide="false">
            <ion-item routerLink="/app/tabs/countries" routerDirection="root">
              <ion-icon slot="start" name="earth"></ion-icon>
              <ion-label>
                {{'countries' | translate}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle autoHide="false">
            <ion-item routerLink="/app/tabs/about" routerDirection="root">
              <ion-icon slot="start" name="help-circle"></ion-icon>
              <ion-label>
                {{'what_is_maat' | translate}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle autoHide="false">
            <ion-item routerLink="/app/tabs/settings" routerDirection="root">
              <ion-icon slot="start" name="settings"></ion-icon>
              <ion-label>
                {{'settings' | translate}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        @if (loggedIn) {
          <ion-list>
            <ion-list-header>
              {{'account' | translate}}
            </ion-list-header>
            <ion-menu-toggle autoHide="false">
              <ion-item routerLink="/account" routerDirection="root">
                <ion-icon slot="start" name="person"></ion-icon>
                <ion-label>
                  {{'account' | translate}}
                </ion-label>
              </ion-item>
            </ion-menu-toggle>
            <ion-menu-toggle autoHide="false">
              <ion-item routerLink="/support" routerDirection="root">
                <ion-icon slot="start" name="help"></ion-icon>
                <ion-label>
                  {{'support' | translate}}
                </ion-label>
              </ion-item>
            </ion-menu-toggle>
            <ion-menu-toggle autoHide="false">
              <ion-item button (click)="logout()">
                <ion-icon slot="start" name="log-out"></ion-icon>
                <ion-label>
                  {{'logout' | translate}}
                </ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ion-list>
        }

        @if (!loggedIn) {
          <ion-list>
            <ion-list-header>
              {{'account' | translate}}
            </ion-list-header>
            <ion-menu-toggle autoHide="false">
              <ion-item routerLink="/login" routerDirection="root">
                <ion-icon slot="start" name="log-in"></ion-icon>
                <ion-label>
                  {{'login' | translate}}
                </ion-label>
              </ion-item>
            </ion-menu-toggle>
            <!-- <ion-menu-toggle autoHide="false">
            <ion-item routerLink="/support" routerDirection="root">
              <ion-icon slot="start" name="help"></ion-icon>
              <ion-label>
                Support
              </ion-label>
            </ion-item>
          </ion-menu-toggle> -->
          <!-- <ion-menu-toggle autoHide="false">
          <ion-item routerLink="/signup" routerDirection="root">
            <ion-icon slot="start" name="person-add"></ion-icon>
            <ion-label>
              Signup
            </ion-label>
          </ion-item>
        </ion-menu-toggle>-->
      </ion-list>
    }

    <!--        <ion-list>
    <ion-list-header>
      Info
    </ion-list-header>
    <ion-menu-toggle autoHide="false">
      <ion-item routerLink="/about-app" routerDirection="root">
        <ion-icon slot="start" name="phone-portrait"></ion-icon>
        <ion-label>
          About App
        </ion-label>
      </ion-item>
    </ion-menu-toggle>
  </ion-list>-->

</ion-content>
</ion-menu>

<ion-router-outlet id="main-content"></ion-router-outlet>

</ion-split-pane>

</ion-app>
