<ion-app>
  <ion-split-pane contentId="main-content">

    <ion-menu contentId="main-content" type="overlay">
      <ion-header>
        <ion-toolbar class="ion-text-center menu-header">
          <img src="/assets/img/bkk_logo.png" class="header-img-md">
          <img src="/assets/img/bkk_logo_bl.png" class="header-img-ios">
          <ion-title class="header-title-md md" >event Management</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content>

        <ion-list>
          <ion-menu-toggle autoHide="false">
              <ion-item routerLink="/home" routerDirection="root">
                <ion-icon slot="start" name="home"></ion-icon>
                <ion-label>Home</ion-label>
              </ion-item>
          </ion-menu-toggle>

          <!--<ion-menu-toggle autoHide="false" *ngFor="let p of appPages; let i = index">
            <ion-item [routerLink]="p.url" routerLinkActive="active" routerDirection="root">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>

          </ion-menu-toggle> -->

          <ion-menu-toggle autoHide="false">
            <ion-item  *ngIf="!hasUnreadNews" routerLink="/app/tabs/news" routerDirection="root">
              <ion-icon slot="start" name="megaphone"></ion-icon>
              <ion-label>Announcements</ion-label>
            </ion-item>
            <ion-item *ngIf="hasUnreadNews" routerLink="/app/tabs/news" routerDirection="root" >
              <ion-icon slot="start" name="megaphone" color="danger"></ion-icon>
              <ion-label color="danger"><strong>Announcements!</strong></ion-label>
            </ion-item>
         </ion-menu-toggle>

         <ion-menu-toggle autoHide="false">
          <ion-item  *ngIf="!hasUnreadChat" routerLink="/app/tabs/chat" routerDirection="root">
            <ion-icon slot="start" name="chatbubbles"></ion-icon>
            <ion-label>Chat</ion-label>
          </ion-item>
          <ion-item *ngIf="hasUnreadChat" routerLink="/app/tabs/chat" routerDirection="root" >
            <ion-icon slot="start" name="chatbubbles" color="danger"></ion-icon>
            <ion-label color="danger"><strong>Chat!</strong></ion-label>
          </ion-item>
       </ion-menu-toggle>

         <ion-menu-toggle autoHide="false">
          <!--<ion-item routerLink="/app/tabs/tweets" routerDirection="root">-->
          <ion-item routerLink="" (click)="openConfLink()" routerDirection="root">
            <ion-icon slot="start" name="logo-twitter"></ion-icon>
            <ion-label>Tweets</ion-label>
          </ion-item>
        </ion-menu-toggle>

         <ion-menu-toggle autoHide="false">
          <ion-item routerLink="/app/tabs/program/schedule" routerDirection="root">
            <ion-icon slot="start" name="calendar"></ion-icon>
            <ion-label>Program</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle autoHide="false">
          <ion-item routerLink="" (click)="loadInfoPage('bookofabstracts')" routerDirection="root">
            <ion-icon slot="start" name="book"></ion-icon>
            <ion-label>Book of Abstracts/Slides</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle autoHide="false">
          <ion-item routerLink="/app/tabs/tracks" routerDirection="root">
            <ion-icon slot="start" name="options"></ion-icon>
            <ion-label>Session Topics</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle autoHide="false">
          <ion-item routerLink="/app/tabs/program/schedule/type/favorites"  routerDirection="root">
            <ion-icon slot="start" name="checkmark-circle"></ion-icon>
            <ion-label>Favourites</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle autoHide="false">
          <ion-item routerLink="/app/tabs/rooms" routerDirection="root">
            <ion-icon slot="start" name="code-download"></ion-icon>
            <ion-label>Venue</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-list-header>
          People
        </ion-list-header>

        <ion-menu-toggle autoHide="false">
          <ion-item routerDirection="root" routerLink="" (click)="loadInfoPage('organiser')" >
            <ion-icon slot="start" name="school"></ion-icon>
            <ion-label>Organising Commitee</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle autoHide="false">
          <ion-item routerLink="" (click)="loadTaxonomyPage('capacity')" routerDirection="root">
            <ion-icon slot="start" name="people"></ion-icon>
            <ion-label>Participants/Roles</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle autoHide="false">
          <ion-item routerLink="/app/tabs/sponsors" routerDirection="root">
            <ion-icon slot="start" name="shirt"></ion-icon>
            <ion-label>Supporters/Sponsors</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle autoHide="false">
          <ion-item routerLink="" (click)="openExternalUrl('https://eurocholangionet.eu/about-us/')" routerDirection="root">
            <ion-icon slot="start" name="ribbon"></ion-icon>
            <ion-label>Action Leaders</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle autoHide="false">
          <ion-item routerLink="" (click)="openExternalUrl('https://www.cost.eu/actions/CA18122/#tabs+Name:Management%20Committee')" routerDirection="root">
            <ion-icon slot="start" name="person-outline"></ion-icon>
            <ion-label>MC Members</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle autoHide="false">
          <ion-item routerLink="" (click)="openExternalUrl('https://www.cost.eu/actions/CA18122/#tabs+Name:Working%20Groups%20and%20Membership')" routerDirection="root">
            <ion-icon slot="start" name="git-network"></ion-icon>
            <ion-label>Working Groups</ion-label>
          </ion-item>
        </ion-menu-toggle>

      <ion-list-header>
        Info
      </ion-list-header>

      <ion-menu-toggle autoHide="false">
        <ion-item routerLink="/app/tabs/infopages" routerDirection="root">
          <ion-icon slot="start" name="key"></ion-icon>
          <ion-label>Arrival info</ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle autoHide="false">
        <ion-item routerLink="" (click)="loadInfoPage('accomodation')" routerDirection="root">
          <ion-icon slot="start" name="information-circle"></ion-icon>
          <ion-label>Hotel info</ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle autoHide="false">
        <ion-item routerLink="/app/tabs/events" routerDirection="root">
          <ion-icon slot="start" name="wine"></ion-icon>
          <ion-label>Social Events</ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle autoHide="false">
        <ion-item routerLink="/app/tabs/tourpages" routerDirection="root">
          <ion-icon slot="start" name="bus"></ion-icon>
          <ion-label>Excursions</ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle autoHide="false">
        <ion-item routerLink="/app/tabs/map/city" routerDirection="root">
          <ion-icon slot="start" name="map"></ion-icon>
          <ion-label>City Map</ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle autoHide="false">
        <ion-item routerLink="" (click)="loadInfoPage('eventphotos')" routerDirection="root">
          <ion-icon slot="start" name="images"></ion-icon>
          <ion-label>Training School Photos</ion-label>
        </ion-item>
      </ion-menu-toggle>

      </ion-list>

      <ion-list *ngIf="loggedIn">
          <ion-list-header>
            Account
          </ion-list-header>

          <ion-menu-toggle autoHide="false">
            <ion-item routerLink="/account" routerDirection="root">
              <ion-icon slot="start" name="person"></ion-icon>
              <ion-label>
                Account
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle autoHide="false">
            <ion-item routerLink="/support" routerDirection="root">
              <ion-icon slot="start" name="help"></ion-icon>
              <ion-label>
                Support
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle autoHide="false">
            <ion-item button (click)="logout()">
              <ion-icon slot="start" name="log-out"></ion-icon>
              <ion-label>
                Logout
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

        </ion-list>

        <ion-list *ngIf="!loggedIn">
          <ion-list-header>
            Account
          </ion-list-header>

          <ion-menu-toggle autoHide="false">
            <ion-item routerLink="/login" routerDirection="root">
              <ion-icon slot="start" name="log-in"></ion-icon>
              <ion-label>
                Login
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <!-- <ion-menu-toggle autoHide="false">
            <ion-item routerLink="/support" routerDirection="root">
              <ion-icon slot="start" name="help"></ion-icon>
              <ion-label>
                Support
              </ion-label>
            </ion-item>
          </ion-menu-toggle> -->

          <ion-menu-toggle autoHide="false">
            <ion-item routerLink="/about-app" routerDirection="root">
              <ion-icon slot="start" name="phone-portrait"></ion-icon>
              <ion-label>
                About App
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

         <!-- <ion-menu-toggle autoHide="false">
            <ion-item routerLink="/signup" routerDirection="root">
              <ion-icon slot="start" name="person-add"></ion-icon>
              <ion-label>
                Signup
              </ion-label>
            </ion-item>
          </ion-menu-toggle>-->

        </ion-list>

      </ion-content>
    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>

  </ion-split-pane>

</ion-app>
