.header-md,
.footer-md,
ion-card,
ion-button {
  box-shadow: none;
  --box-shadow: none;
}

a {
  text-decoration: none;
}

ion-button {
  text-transform: none !important;
}

.md .menu-header {
  color: #cac8c8;
  padding: 5px !important;
}

ion-toolbar ion-buttons {
  ion-button, ion-back-button{
    background-color: #F5F5F5;
    border-radius: 50%;
    transform: scale(.6);
    transform-origin: left center;
    margin-left: 5px;
  }
}

ion-toolbar ion-searchbar {
  --box-shadow: none !important;
}


.ion-border-rounded {
  border-radius: 5px !important;
  overflow: hidden;
}

.ion-border-rounded-10 {
  border-radius: 10px !important;
  overflow: hidden;
}

.ion-border-rounded-20 {
  border-radius: 20px !important;
  overflow: hidden;
}

ion-toast.toast-alert {
  opacity: 0.9;
  text-align: center;
  font-weight: bold;
  color: white;
  --background: red;
}

ion-toast.toast-success {
  opacity: 0.9;
  text-align: center;
  font-weight: bold;
  color: white;
  --background: rgb(35, 224, 17);
}


