<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="defaultHref"></ion-back-button>
    </ion-buttons>
    <ion-title>{{session?.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="session" class="ion-padding">
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col size="6">
            <div class="ion-text-center" class="Button_Rating_Class">
                <ion-icon (click)="put_session_rating(session.id, 20)"  name="star-outline" [size]="myratings === 20 ? 'large' : ''"></ion-icon>
                <ion-icon (click)="put_session_rating(session.id, 40)"  name="star-outline" [size]="myratings === 40 ? 'large' : ''"></ion-icon>
                <ion-icon (click)="put_session_rating(session.id, 60)"  name="star-outline" [size]="myratings === 60 ? 'large' : ''"></ion-icon>
                <ion-icon (click)="put_session_rating(session.id, 80)"  name="star-outline" [size]="myratings === 80 ? 'large' : ''"></ion-icon>
                <ion-icon (click)="put_session_rating(session.id, 100)" name="star-outline" [size]="myratings === 100 ? 'large' : ''"></ion-icon>
            </div>
        </ion-col>

        <ion-col size="6" [ngClass]="{'show-favorite': isFavorite}" class="ion-text-right">
          <ion-icon name="heart-empty" size="large" class="icon-heart-empty" (click)="toggleFavorite()"></ion-icon>
          <ion-icon name="heart" color="danger" size="large" class="icon-heart" (click)="toggleFavorite()"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
    <h1>{{session.title}}</h1>
    <p [innerHTML]="session.desc"></p>
    <p *ngIf="session.trackName">
      <ion-icon name="settings" slot="start" color="success"></ion-icon>
      <ion-note color="success">{{session.trackTitle}}</ion-note>
    </p>
    <div class="ion-text-center" class="Rating_Class">
        <ion-icon *ngIf=" ratings < 1" name="star-outline"></ion-icon>
        <ion-icon *ngIf=" ratings >= 1" name="star" color="danger"></ion-icon>
        <ion-icon *ngIf=" ratings < 2" name="star-outline"></ion-icon>
        <ion-icon *ngIf=" ratings >= 2" name="star" color="danger"></ion-icon>
        <ion-icon *ngIf=" ratings < 3" name="star-outline"></ion-icon>
        <ion-icon *ngIf=" ratings >= 3" name="star" color="danger"></ion-icon>
        <ion-icon *ngIf=" ratings < 4" name="star-outline"></ion-icon>
        <ion-icon *ngIf=" ratings >= 4" name="star" color="danger"></ion-icon>
        <ion-icon *ngIf=" ratings < 5" name="star-outline"></ion-icon>
        <ion-icon *ngIf=" ratings >= 5" name="star" color="danger"></ion-icon>
     </div> 

     <ion-icon *ngIf="session.trackTitle" name="settings" color="primary" slot="start" style="font-size:1.2em;"></ion-icon>
     <ion-text *ngIf="session.trackTitle" color="success">
     {{session.trackTitle}}<br />
     </ion-text>
    <ion-icon name="calendar" color="primary" slot="start" style="font-size:1.2em;"></ion-icon>
    <ion-text color="tertiary">
    {{session.date}}<br />
    </ion-text>
    <ion-icon name="time" color="primary" slot="start" style="font-size:1.2em;"></ion-icon>
    <ion-text color="tertiary">
      {{session.startTime}} &ndash; {{session.endTime}}
    </ion-text>
      <br />
    <ion-icon name="code-download" color="primary" slot="start" style="font-size:1.2em;"></ion-icon>
    <ion-text color="tertiary">
      {{session.roomName}}
    </ion-text> 
  </div>

  <ion-list>
    <ion-grid fixed>
      <ion-row class="ion-align-items-stretch">
        <ion-col size="12" size-md="6" *ngFor="let speaker of session.speakers">
          <ion-card class="speaker-card">
            <ion-card-header>
              <ion-item detail="false" lines="none" routerLink="/app/tabs/program/speaker-details/{{speaker.id}}">
                <ion-avatar slot="start">
                  <img [src]="speaker.prof_img" alt="Speaker profile pic">
                </ion-avatar>
                {{speaker.fname.trim()}}, {{speaker.lname}}
              </ion-item>
            </ion-card-header>

            <ion-card-content no-padding>
              <ion-list>
                <ion-col class="ion-padding-start">
                  {{speaker.org}}
                </ion-col>
              </ion-list>

            <ion-list class="speaker-capacity ion-padding-start">
              <div *ngFor="let capacity of speaker.capacity">
                {{capacity.title}}
              </div>
            </ion-list>
            <ion-list class="speaker-wg ion-padding-start">
              <div *ngFor="let capacity of speaker.wg">
                {{capacity.wg}}
              </div>
            </ion-list>
          </ion-card-content>

            <ion-row class="ion-no-padding ion-justify-content-center">
              <ion-col size="4" class="ion-text-left">
                <ion-button fill="clear" size="small" color="primary" (click)="goToSpeakerTwitter(speaker)">
                  <ion-icon name="logo-twitter" slot="start"></ion-icon>
                  Tweet
                </ion-button>
              </ion-col>
              <ion-col size="4" class="ion-text-center">
                <ion-button fill="clear" size="small" color="primary" (click)="openSpeakerShare(speaker)">
                  <ion-icon name="share-alt" slot="start"></ion-icon>
                  Share
                </ion-button>
              </ion-col>
              <ion-col size="4" lass="ion-text-right">
                <ion-button fill="clear" size="small" color="primary" (click)="openContact(speaker)">
                  <ion-icon name="chatboxes" slot="start"></ion-icon>
                  Contact
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>

  <ion-list>
    <ion-item (click)="createCalendar(session)" button>
      <ion-label color="primary">Add to Calendar</ion-label>
      <ion-icon slot="end" color="primary" size="small" name="calendar"></ion-icon>
    </ion-item>
    <ion-item (click)="sessionClick('mark as unwatched')" button>
      <ion-label color="primary">Open Abstract</ion-label>
      <ion-icon slot="end" color="primary" size="small" name="document"></ion-icon>
    </ion-item>
    <ion-item (click)="sessionClick('download video')" button>
      <ion-label color="primary">View Video</ion-label>
      <ion-icon slot="end" color="primary" size="small" name="cloud-download"></ion-icon>
    </ion-item>
    <ion-item (click)="sessionClick('leave feedback')" button>
      <ion-label color="primary">Evaluate Session</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
