<h2 class="serif-title ion-margin">
  {{'what_are_we_doing_as_a_group_today' | translate}}
</h2>

<ion-card class="summary-card ion-margin ion-padding">
 <div class="card-header-flex">
    <h2 class="serif-title text-22">{{'group_review' | translate}}</h2>
    <div class="avatar-box">
      <img src="assets/img/pot-sm.png">
    </div>
  </div>

  <ion-grid class="ion-no-padding ion-no-margin">
    <ion-row>
      <ion-col size="4" class="ion-text-center">
        <div class="stat-value">{{meeting?.totals.newbalance | number:'.0'}}</div>
        <div class="stat-label ion-padding-horizontal">{{'balance' | translate}}</div>
      </ion-col>
      <ion-col size="4" class="ion-text-center">
        <div class="stat-value">{{meeting?.totals.newcreditdisponible | number:'.0'}}</div>
        <div class="stat-label ion-padding-horizontal">{{'maat_available' | translate}}</div>
      </ion-col>
      <ion-col size="4" class="ion-text-center">
        <div class="stat-value">{{ current_maats | number: '.0' }}</div>
        <div class="stat-label">{{'maats_current' | translate}}</div>
      </ion-col>
    </ion-row>
  </ion-grid>

  @if(show_details){
    <div class="details-container ion-padding-top">
      <div class="details-row ion-display-flex ion-justify-content-between ion-align-items-center">
        <span class="label">{{'maats_received_total' | translate}}</span>
        <span class="value">{{(meeting?.totals?.credit ?? 0)| number: '.1'}} {{country?.currency}}</span>
      </div>
      <div class="details-row ion-display-flex ion-justify-content-between ion-align-items-center">
        <span class="label">{{'maats_repayments_total' | translate}}</span>
        <span class="value">{{(meeting?.totals.transactions.get('REM') ?? 0)| number:'.1'}} {{country?.currency}}</span>
      </div>
      <div class="details-row ion-display-flex ion-justify-content-between ion-align-items-center">
        <span class="label">{{'solidarity_contributed_total' | translate}}</span>
        <span class="value">{{(meeting?.totals.transactions.get('AID') ?? 0)| number:'.1'}} {{country?.currency}}</span>
      </div>
      <div class="details-row ion-display-flex ion-justify-content-between ion-align-items-center">
        <span class="label">{{'solidarity_received_total' | translate}}</span>
        <span class="value">{{(meeting?.totals.transactions.get('SFREM') ?? 0)| number:'.1'}} {{country?.currency}}</span>
      </div>
      <div class="details-row ion-display-flex ion-justify-content-between ion-align-items-center">
        <span class="label">{{'facilitator_payments_total' | translate}}</span>
        <span class="value">{{(meeting?.totals.transactions.get('AST') ?? 0) | number:'.1'}} {{country?.currency}}</span>
      </div>
    </div>
  }

  <div class="ion-text-center ion-margin-top">
    <ion-button fill="clear" class="review-btn" (click)="show_details = !show_details">
      {{(show_details ? 'hide' : 'review_details') | translate}}
    </ion-button>
  </div>
</ion-card>

<p class="attending-subtitle text-14 ion-no-margin ion-margin-horizontal">
  {{ attendance }} {{'of' | translate}} {{ numberofmembers}} {{'attending' | translate}}
</p>

<ion-list class="ion-no-padding">
  <ion-item lines="none" class="fund-item dashboard-item ion-margin ion-border-rounded-20">
    <ion-label>
      <p class="dashboard-label text-22">{{'Available for group investment' | translate}}</p>
      <div class="amount-container">
        <span class="amount">{{ group?.totals.balance - group?.persontotal | number:'.0'}}</span>
        <span class="currency">{{country?.currency}}</span>
      </div>
    </ion-label>
  </ion-item>
</ion-list>

<!-- GROUP Operations -->
<ion-list lines="none" class="custom-card ion-margin">
  @for (parameter of parameters; track parameter.id) {
    <ng-container
      *ngTemplateOutlet="transactionItem; context: {
        parameter: parameter, amount: amount }">
    </ng-container>
  }
</ion-list>


<!-- *** Item Component *** -->
<ng-template #transactionItem
  let-parameter="parameter"
  let-amount="amount">

  <ion-item>
    <ion-icon slot="start"
      [src]="'assets/img/icons/transactions/'+ tr_icons[parameter?.code] +'.svg'"
      [class]="amount[parameter?.id]>0 ? 'filled-icon' : 'empty-icon'">
    </ion-icon>
    <ion-label class="ion-text-wrap">
      <h5>{{ parameter?.name }}</h5>
    </ion-label>
    <ion-input slot="end" type="number" [(ngModel)]="amount[parameter?.id]" (change)="update_transaction(parameter?.id, $event)"
      placeholder="0"
      class="amount-input ion-no-padding"
      [style.width.ch]="amount[parameter?.id]?.toString().length > 2 ? amount[parameter?.id].toString().length + 3 : 5">
    </ion-input>
    <ion-icon slot="end" name="close" class="close-icon ion-no-margin"
      (click)="clear_amount(parameter?.id)"
      [class.disabled]="!(amount?.[parameter?.id] > 0)">></ion-icon>
  </ion-item>
</ng-template>
