
<div class="ion-text-center ion-margin-bottom ion-padding-top" (click)="show_metrics = !show_metrics">
  <div class="image-wrapper">
    <img [src]="image" alt="">
  </div>
  <h2 class="ion-no-margin ion-padding-top ion-text-bold">{{heading | translate}}</h2>
  <p class="ion-margin ion-padding-bottom">
    {{description | translate}}
  </p>
</div>

@if(show_metrics){
<div class="ion-margin-horizontal ion-border-rounded-10 text-12 metrics-card">
  <ion-grid>
   @for (metr of meeting_health.meeting_metrics | keyvalue; track metr.key) {
      <ion-row>
        <ion-col size="7">{{metr.value.message | translate}}</ion-col>
        <ion-col class="ion-text-end">{{metr.value.value | number: '.2'}}</ion-col>
      </ion-row>
    }
  </ion-grid>
</div>
}

<ion-grid>
<ion-row>
  <ion-col size="6">
    <ion-card class="ion-no-margin custom-card card-green">
      <ion-card-content>
        <p class="card-label" (click)="show_max = !show_max">
          {{'total_collected' | translate}}
          <ion-icon name="chevron-forward"></ion-icon>
        </p>
        <h3 class="card-value">{{(meeting?.totals?.credit - meeting?.totals?.debit) | number: '.0'}} <span class="currency">{{country.currency}}</span></h3>
        @if(show_max){
        <div class="max-values">
          <p class="max-label">{{'highest' | translate}}</p>
          <p class="max-amount">{{(max_collection ?? 0) | number: '.0'}} <span class="currency">{{country.currency}}</span></p>
        </div>
        }
      </ion-card-content>
    </ion-card>
  </ion-col>
  <ion-col size="6">
    <ion-card class="ion-no-margin custom-card card-yellow">
      <ion-card-content>
        <p class="card-label" (click)="show_max = !show_max">
          {{'maats_given' | translate}}
          <ion-icon name="chevron-forward"></ion-icon>
        </p>
        <h3 class="card-value">{{meeting?.totals?.loans}} <span class="currency">{{country.currency}}</span></h3>
        @if(show_max){
        <div class="max-values">
          <p class="max-label">{{'highest' | translate}}</p>
          <p class="max-amount">{{(max_loans ?? 0) | number: '.0'}} <span class="currency">{{country.currency}}</span></p>
        </div>
        }
      </ion-card-content>
    </ion-card>
  </ion-col>
</ion-row>

<ion-row>
  <ion-col size="6">
    <ion-card class="ion-no-margin custom-card card-light-blue">
      <ion-card-content>
        <p class="card-label">{{'due_next_week' | translate}}</p>
        <h3 class="card-value">{{loans_to_due}}</h3>
      </ion-card-content>
    </ion-card>
  </ion-col>
  <ion-col size="6">
    <ion-card class="ion-no-margin custom-card card-purple">
      <ion-card-content>
        <p class="card-label">{{'maats_completed' | translate}}</p>
        <h3 class="card-value">{{loans_completed}}</h3>
      </ion-card-content>
    </ion-card>
  </ion-col>
</ion-row>
</ion-grid>

 <ion-button class="sustain-btn ion-margin" expand="block" shape="round" (click)="open_url()">{{'check_sustainability' | translate}}</ion-button>


