.image-wrapper {
  img {
    max-width: 250px;
    height: auto;
  }
}

.custom-card {
    border-radius: 16px;
    box-shadow: none;
    height: 100%;
  }

  .card-label {
    font-family: "Inter";
    font-size: 18px;
    color: #546e7a;
    margin-bottom: 20px;
  }

  .card-value {
    font-family: "Inter";
    font-size: 28px !important;
    font-weight: 400;
    color: #2d2d2d;
    margin: 0;
  }

  .currency {
    font-family: "Inter";
    font-size: 18px;
    font-weight: 500;
    color: #546e7a;
  }

  /* Color Variants */
  .card-green { --background: #e0f2f1; }
  .card-yellow { --background: #f9fbe7; }
  .card-light-blue { --background: #e1f5fe; }
  .card-purple { 
    background-color: #E9E6F3 !important;
    --background: url('/assets/img/intro/feather-white.png') no-repeat right 10px center / contain;
  }

  .metrics-card {
    background: aliceblue;
  }

  .max-values {
    margin-top: 10px;
    p {
      margin:0 !important
    }
    .max-label {
      font-size: 12px !important;
      text-transform: uppercase;
    }
    .max-amount {
      font-size: 18px !important;
      font-weight: 500;
    }
    .currency {
      font-size: 12px !important;
      font-weight: 500;
    }
  }

  .sustain-btn {
    --background: #f3f3ff;
    color: #484db3;
  }
