
<div class="ion-text-center ion-margin-bottom">
  <img src="assets/img/action-views/great-group.png" alt="Well done">
  <h2 class="ion-no-margin ion-text-bold">Well done!</h2>
  <p class="ion-no-margin ion-padding-top">
    The group is growing steadily. All transactions have been recorded
  </p>
</div>

<ion-grid>
<ion-row>
  <ion-col size="6">
    <ion-card class="ion-no-margin custom-card card-green">
      <ion-card-content>
        <p class="card-label">Total collected</p>
        <h3 class="card-value">1.245 <span class="currency">CAD</span></h3>
      </ion-card-content>
    </ion-card>
  </ion-col>
  <ion-col size="6">
    <ion-card class="ion-no-margin custom-card card-yellow">
      <ion-card-content>
        <p class="card-label">Maats given</p>
        <h3 class="card-value">150 <span class="currency">CAD</span></h3>
      </ion-card-content>
    </ion-card>
  </ion-col>
</ion-row>

<ion-row>
  <ion-col size="6">
    <ion-card class="ion-no-margin custom-card card-light-blue">
      <ion-card-content>
        <p class="card-label">Due next week</p>
        <h3 class="card-value">3</h3>
      </ion-card-content>
    </ion-card>
  </ion-col>
  <ion-col size="6">
    <ion-card class="ion-no-margin custom-card card-purple">
      <ion-card-content>
        <p class="card-label">Maats completed</p>
        <h3 class="card-value">1</h3>
      </ion-card-content>
    </ion-card>
  </ion-col>
</ion-row>
</ion-grid>

<ion-button expand="block" class="ion-margin-top check-btn">
  Check sustainability
</ion-button>

