
<div class="ion-text-center ion-margin-bottom">
  <img src="assets/img/action-views/great-group.png" alt="Well done">
  <h2 class="ion-no-margin ion-text-bold">{{'well_done' | translate}}!</h2>
  <p class="ion-no-margin ion-padding-top">
    {{'messages.groups.message_1' | translate}}
  </p>
</div>

<ion-grid>
<ion-row>
  <ion-col size="6">
    <ion-card class="ion-no-margin custom-card card-green">
      <ion-card-content>
        <p class="card-label">{{'total_collected' | translate}}</p>
        <h3 class="card-value">{{meeting?.totals?.credit}} <span class="currency">{{country.currency}}</span></h3>
      </ion-card-content>
    </ion-card>
  </ion-col>
  <ion-col size="6">
    <ion-card class="ion-no-margin custom-card card-yellow">
      <ion-card-content>
        <p class="card-label">{{'maats_given' | translate}}</p>
        <h3 class="card-value">{{meeting?.totals?.loans}} <span class="currency">{{country.currency}}</span></h3>
      </ion-card-content>
    </ion-card>
  </ion-col>
</ion-row>

<ion-row>
  <ion-col size="6">
    <ion-card class="ion-no-margin custom-card card-light-blue">
      <ion-card-content>
        <p class="card-label">{{'due_next_week' | translate}}</p>
        <h3 class="card-value">3</h3>
      </ion-card-content>
    </ion-card>
  </ion-col>
  <ion-col size="6">
    <ion-card class="ion-no-margin custom-card card-purple">
      <ion-card-content>
        <p class="card-label">{{'maats_completed' | translate}}</p>
        <h3 class="card-value">1</h3>
      </ion-card-content>
    </ion-card>
  </ion-col>
</ion-row>
</ion-grid>


