<ion-card class="summary-card ion-margin ion-padding">
 <div class="card-header-flex">
    <h2 class="serif-title text-22">{{'contributions' | translate}}</h2>
    <div class="avatar-box">
      <img src="assets/img/pot-sm.png">
    </div>
  </div>

  <ion-grid class="ion-no-padding ion-no-margin">
    <ion-row>
      <ion-col size="4" class="ion-text-center stat-col">
        <div appAutofitText autofitGroup="summaryRowContributions" class="stat-value">{{(meetingTotals?.transactions?.get('RCB') ?? 0) | number:'.0'}}</div>
        <div class="stat-label ion-padding-horizontal">{{'regular_contribution' | translate}}</div>
      </ion-col>
      <ion-col size="4" class="ion-text-center stat-col">
        <div appAutofitText autofitGroup="summaryRowContributions" class="stat-value">{{(meetingTotals?.transactions?.get('AID') ?? 0)| number:'.0'}}</div>
        <div class="stat-label ion-padding-horizontal">{{'solidarity' | translate}}</div>
      </ion-col>
      <ion-col size="4" class="ion-text-center stat-col">
        <div appAutofitText autofitGroup="summaryRowContributions" class="stat-value">{{(meetingTotals?.transactions?.get('AST') ?? 0)| number:'.0'}}</div>
        <div class="stat-label">{{'facilitator' | translate}}</div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>

<p class="attending-subtitle text-14 ion-no-margin ion-margin-horizontal">
  {{ attendance }} {{'of' | translate}} {{ numberofmembers}} {{'attending' | translate}}
</p>

<ion-list class="ion-no-padding">
  <ion-item lines="none" class="fund-item dashboard-item ion-margin ion-border-rounded-20">
    <ion-label>
      <p class="dashboard-label text-22">{{'total_collected' | translate}}</p>
      <div class="amount-container">
        <span class="amount">{{(meetingTotals?.credit - meetingTotals?.debit) | number:'.2'}}</span>
        <span class="currency">{{country?.currency}}</span>
      </div>
    </ion-label>
  </ion-item>
</ion-list>

<div class="selection-card ion-margin">
  <ion-item lines="none" class="select-all-item">
    <ion-label>{{'select_all' | translate}}</ion-label>
    <ion-toggle slot="end" [(ngModel)]="selectAll" (ionChange)="onSelectAllChange()" [disabled]="contribsExist"></ion-toggle>
  </ion-item>
</div>

<ion-list lines="none" class="transparent-list ion-margin">
  @for (acc of accounts; track acc.id; let i = $index) {
  <ion-item-sliding #slideItem>
    <ion-item class="account-item" [class.pulse-item]="isHinting && i == 0">
      <div slot="start" class="avatar-icon" (click)="toggleAccount(acc)" [class.inactive]="!acc.selected">
        <ion-icon src="assets/img/icons/feather.svg" class="custom-icon"></ion-icon>
      </div>
      <ion-label class="text-16" (click)="openAccountTransactions(acc)">
        {{ acc.owner }}
        @if(acc.due > 0){
          <p class="error-note text-12">{{'overdue_contributions' | translate}}</p>
        }
      </ion-label>
      <div slot="end" class="custom-badge-container">
        @if(acc?.totals?.transactions.get('RCB') > 0){
        <div class="custom-badge rcb-badge">
          <span class="val text-16">{{ acc?.totals?.transactions.get('RCB') }}</span>
          <span class="lab text-12">{{ country?.currency }}</span>
        </div>
        }
      </div>
      <div slot="end" class="custom-badge-container">
        @if(acc?.totals?.transactions.get('AID') > 0){
        <div slot="end" class="custom-badge aid-badge">
          <span class="val text-16">{{ acc?.totals?.transactions.get('AID') }}</span>
          <span class="lab text-12">{{ country?.currency }}</span>
        </div>
        }
      </div>
      <div slot="end" class="custom-badge-container">
        @if(acc?.totals?.transactions.get('AST') > 0){
        <div slot="end" class="custom-badge ast-badge">
          <span class="val text-16">{{ acc?.totals?.transactions.get('AST') }}</span>
          <span class="lab text-12">{{ country?.currency }}</span>
        </div>
        }
      </div>
    </ion-item>
    <ion-item-options side="start">
      <ion-item-option (click)="showAccountInfo(acc, slideItem)" class="ion-padding-bottom">
        <ion-icon class="ion-no-margin" slot="icon-only" name="information-circle" size="large"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
  }
  @if(!accounts?.length){
    <ion-label style="display: block;" class="ion-text-center text-14" color="danger">{{'no_accounts_available' | translate}}</ion-label>
  }
</ion-list>
