<ion-header [translucent]="false">
  <ion-toolbar class="group-habs-header">
    <ion-title role="button">
      <div class="title-container">
        <h2 class="main-group-title">{{'group' | translate}}: {{group?.name}}</h2>
        <p class="sub-location text-12">{{country?.name}} · {{group?.ville}}</p>
      </div>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/countries" routerDirection="forward" class="flag-button">
        <ion-avatar class="flag-circle">
          <img [src]="'assets/flags/' + country?.flagcode?.toLowerCase() + '.svg'"/>
        </ion-avatar>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
     <ion-buttons slot="start">
      <ion-back-button icon="chevron-back-outline" defaultHref="/app/tabs/dashboard">
      </ion-back-button>
      <ion-label>Back</ion-label>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <div class="summary-card ion-padding">
    <h3 class="serif-text ion-no-margin">{{'group_summary' | translate}}</h3>
    
    <ion-grid class="ion-no-padding ion-margin-top">
      <ion-row>
        <ion-col class="ion-text-center">
          <h1 class="stat-value ion-no-margin">{{ group?.totals.balance | number:'.0'}}</h1>
          <p class="stat-label text-12">{{'total_group_fund' | translate}}</p>
        </ion-col>
        <ion-col class="ion-text-center">
          <h1 class="stat-value ion-no-margin">{{ group?.totals.restearembourser | number:'.0' }}</h1>
          <p class="stat-label text-12">{{'total_outstanding_maats' | translate}}</p>
        </ion-col>
        <ion-col class="ion-text-center">
          <h1 class="stat-value ion-no-margin">{{ group?.numloans }}</h1>
          <p class="stat-label text-12">{{'number_of_active_maats' | translate}}</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ion-list class="ion-margin-top" lines="none">
    @for (account of accounts; track account.id) {
      <ion-item class="member-item ion-margin-bottom ion-border-rounded-20" color="light">
        <ion-grid class="ion-no-padding ion-no-margin">

          <ion-row>
            <ion-col size="7">        
              <ion-avatar [class]="'avatar-' + account?.status">
                <div class="status-icon">
                  <ion-icon [name]="account?.status == 'sad'? account?.status : 'happy'"></ion-icon>
                </div>
              </ion-avatar>
              <ion-label>
                <h5 class="member-name">{{ account.owner }}</h5>
              </ion-label>
              <p class="warning-text">
              @if(pf(account?.creditdisponible) > 0){
                {{ 'eligible_for_maat' | translate }}: {{account?.creditdisponible}} {{currency}}
              }@else{
                 {{ 'not_eligible_for_maat' | translate }}
              }
              </p>
            </ion-col>
            <ion-col size="5">
              <div class="badge-container">
                @if (pf(account?.restearembourser) > 0) {
                <div [class]="account?.loans_expired ? 'custom-badge maat-badge-due' : 'custom-badge maat-badge'">
                  <span class="val text-16">{{ account.restearembourser }}</span>
                  <span class="lab text-12">Maat</span>
                </div>
                }
                @if (account.balance) {
                <div class="custom-badge balance-badge">
                  <span class="val text-16">{{ account.balance }}</span>
                  <span class="lab text-12">Balance</span>
                </div>
                }
              </div>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <div class="due-container ion-margin-bottom">
                @if(account?.due){
                  @if(account?.due_reg){
                  <p class="warning-text">
                    <ion-icon [name]="account?.icon || 'close'" color="danger"></ion-icon>
                    {{ 'missing_regular_contribs' | translate }} {{account?.due_reg}} {{currency}}
                  </p>
                  }
                  @if(account?.due_sf){
                  <p class="warning-text">
                    <ion-icon [name]="account?.icon || 'close'" color="danger"></ion-icon>
                    {{ 'missing_sf_contribs' | translate }} {{account?.due_sf}} {{currency}}
                  </p>
                  }
                  @if(account?.due_facp){
                  <p class="warning-text">
                    <ion-icon [name]="account?.icon || 'close'" color="danger"></ion-icon>
                    {{ 'missing_facp_contribs' | translate }} {{account?.due_facp}} {{currency}}
                  </p>
                  }
                }
                @if(pf(account?.fines) > 0){
                <p class="warning-text">
                  <ion-icon [name]="account?.icon || 'warning-outline'" color="warning"></ion-icon>
                  {{ 'fine_applied' | translate }} {{account?.fines}} {{currency}}
                </p>
                }
              </div>
            </ion-col>
          </ion-row>

        </ion-grid>
      </ion-item>
    }
  </ion-list>
</ion-content>