<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [ngStyle]="{'background': 'url(' + backimage + ')', 'background-repeat': 'no-repeat', 'background-size': 'cover'}">
    <div class="row">
        <div class="conf-div ion-text-center" ng-if="conftitle != ''">
          <img src="assets/img/maat.png"/>
          <!--<div class="conf-title">
            MAAT Peasant
          </div>-->
        </div>
    </div>

       <ion-grid class="home-buttons-grid">
         <!-- <ion-row class="home-links home-links-last">
              <ion-col  routerLink="/app/tabs/program/schedule"  routerDirection="root" class="ion-text-center">
                <div>
                <ion-icon name="calendar"></ion-icon>
                </div>
                <ion-label>PROGRAM</ion-label>
              </ion-col>
              <ion-col  routerLink="/app/tabs/people/speakers/all/0"  class="ion-text-center">
                  <div>
                  <ion-icon name="mic"></ion-icon>
                  </div>
                  <ion-label>SPEAKERS</ion-label>
              </ion-col>
          </ion-row>-->
          <ion-row  class="home-links">
              <ion-col  routerLink="/app/tabs/countries"  class="ion-text-center">
                <div>
                  <ion-icon name="earth"></ion-icon>
                </div>
                <ion-label>COUNTRIES</ion-label>
              </ion-col>
              <ion-col  routerLink="/account"  class="ion-text-center">
                <div>
                  <ion-icon name="person-outline"></ion-icon>
                </div>
                <ion-label>PROFILE</ion-label>
              </ion-col>

          </ion-row>

       </ion-grid>
</ion-content>
