.home-links {
    font-size: 0.55em;
    color: white;
    text-shadow: 2px 2px 2px #000;
}

.home-links ion-icon {
    font-size:25px;
}

ion-col {
  margin:10px;
  background-color: var(--ion-color-primary);
 // background-color: #3A3F8D;
  border-radius: 5px;
}

.home-buttons-grid {
    position: absolute;
    bottom: 30px;
    width: 100%;
}

ion-content {
    --background: none;
    background-position: center top;
    background-repeat: no-repeat;
    //background-size: cover;
    background-size: auto 70%;
    background-position: bottom;
}

.conf-title {
  font-size: 1.5em;
  font-weight: bold;
  background: cornflowerblue;
  padding: 10px;
  padding-top: 3%;
  color: white;
}

.conf-div {
  margin-top: 25%;
}
.conf-div p {
  color: #ccc;
  font-weight: bold;
  margin: 0px;
}

.conf-div img {
  max-width: 200px;
}

.home-links ion-col:active {
  border: none;
  background-color: #b4b8b5;
}

.home-links-last ion-col {
  /*background-color: var(--ion-color-tertiary-shade);*/
  background-color: #77BB4B;
}

/* if ios flickering
:host {
  ion-content {
    --background:none;
    background:url(''../../assets/images/cover.jpg');
    background-size: cover;
    background-position: center center;
  }
}*/
