.home-links {
    font-size: 0.55em;
    color: white;
    text-shadow: 2px 2px 2px #000;
}

.home-links ion-icon {
    font-size:25px;
}

ion-col {
  margin:10px;
  background-color: var(--ion-color-primary-shade);
  border-radius: 5px;
}

.home-buttons-grid {
    position: absolute;
    bottom: 30px;
    width: 100%;
}

ion-content {
    --background: none;
    /*background: url('/assets/img/Start_BG_screen_without_logo.jpg');*/
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;

}

.conf-title {
  font-size: 1.5em;
  font-weight: bold;
  padding: 10px;
  padding-top: 3%;
  color: #f0f07f;
  text-shadow: 1px 1px 10px #000;
}

.conf-div {
  margin-top: 20px;
}
.conf-div p {
  color: #ccc;
  font-weight: bold;
  margin: 0px;
}

.conf-div img {
  width: 70px;
  height: 70px;
}

.home-links ion-col:active {
  border: none;
  background-color: #b4b8b5;
}

.home-links-last ion-col {
  background-color: var(--ion-color-tertiary-shade);
}

/* if ios flickering
:host {
  ion-content {
    --background:none;
    background:url(''../../assets/images/cover.jpg');
    background-size: cover;
    background-position: center center;
  }
}*/
