.home-links {
    font-size: 1em;
    padding-top:20px;
    padding-top:20px;
    color: white;
}

.home-links ion-icon {
    font-size:35px;
}


.home-buttons-grid {
    position: absolute;
    bottom: 30px;
    width: 100%;
}

ion-content {
    --background: none;
    background: url('/assets/img/Start_BG_screen_without_logo.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.conf-title {
  font-size: 1.5em;
  font-weight: bold;
  padding: 10px;
  padding-top: 10%;
  color: #f0f07f;
  text-shadow: 1px 1px 10px #000;
}

.conf-div {
  margin-top: 20px;
}
.conf-div p {
  color: #ccc;
  font-weight: bold;
  margin: 0px;
}

.conf-div img {
  width: 70px;
  height: 30px;
}

/* if ios flickering 
:host {
  ion-content {
    --background:none;
    background:url(''../../assets/images/cover.jpg');
    background-size: cover;
    background-position: center center;
  }
}*/