<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [ngStyle]="{'background': 'url(' + backimage + ')', 'background-repeat': 'no-repeat', 'background-size': 'cover'}">
    <div class="row">

        <div class="conf-div ion-text-center" ng-if="conftitle != ''">
        <img src="assets/img/bkk_logo.png"/>
        <p>Event Management</p>
        <div class="conf-title">
        {{conftitle}}
        </div>
        </div>
        <button class="btn" ion-button full (click)="add_to_home($event)" *ngIf="showBtn" >Install</button>
    </div>
    
          <ion-grid class="home-buttons-grid">
            <ion-row class="home-links">
              <ion-col routerLink="/app/tabs/tracks"  class="ion-text-center home-link">
                     <div>
                        <ion-icon name="settings"></ion-icon>
                     </div>
                      <ion-label>TRACKS</ion-label>
              </ion-col>
              <ion-col  routerLink="/app/tabs/program"  class="ion-text-center">
                      <div>
                      <ion-icon name="mic"></ion-icon>
                      </div>
                      <ion-label>PROGRAM</ion-label>
              </ion-col>
          </ion-row>
          <ion-row  class="home-links">
              <ion-col  routerLink="/app/tabs/people/speakers/all/0"  class="ion-text-center">
                      <div>
                      <ion-icon name="person"></ion-icon>
                      </div>
                      <ion-label>SPEAKERS</ion-label>
              </ion-col>
              <ion-col  routerLink="/app/tabs/program/schedule/type/favorites"  class="ion-text-center">
                      <div>
                      <ion-icon name="checkmark-circle"></ion-icon>
                      </div>
                      <ion-label>FAVOURITES</ion-label>
              </ion-col>
          </ion-row>
          <ion-row  class="home-links">
              <ion-col  routerLink="/app/tabs/news"  class="ion-text-center">
                      <div>
                      <ion-icon name="megaphone"></ion-icon>
                      </div>
                      <ion-label>ANNOUNCES</ion-label>
              </ion-col>
              <ion-col  routerLink="/app/tabs/rooms" class="ion-text-center">
                      <div>
                      <ion-icon name="code-download"></ion-icon>
                      </div>
                      <ion-label>VENUE</ion-label>
              </ion-col>
          </ion-row>
       </ion-grid>
</ion-content>
