.fade-bottom {
  -webkit-mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
          mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
  display: block;
  width: 100%;
}

ion-text h6 {
  color: grey;
}
