ion-avatar ion-icon {
    margin-left: 32px;
    margin-top: -13px;
    display: block;
    width: 11px;
}

.updatedAt {
    color: #BFA7A7;
    float: right;
    font-size: x-small;
}

.chip {
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 4px;
    padding-right: 4px;
    padding-left: 4px;
    font-size: 9pt;
    display: inline flow-root list-item;
    text-align: center;
    position: absolute;
    top: -6px;
    width: 25px;
    font-weight: bold;
}

.group {
    font-weight: bold;
    color: rgba(2, 2, 131, 0.753);
}