ion-label p {
    font-size: x-small;
    ion-text {
        font-weight: bold;
    }
}

ion-title {
    font-size: medium;
    font-weight: bold;
    p {
        font-size: small;
        margin: 0;
    }
}

.info-icon {
    font-size: large;
}

.actions {
   text-align: end;
}

ion-badge {
    vertical-align: bottom;
}

.alert-icon {
    vertical-align: top;
}
