<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{countryname}} / {{groupname}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/app/tabs/country/{{countryid}}/groups"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <app-status-icons></app-status-icons>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar placeholder="Search" [(ngModel)]="queryText" (ionChange)="searcher()" (ionInput)="searcher()"></ion-searchbar>
  </ion-toolbar>
  <ion-segment [(ngModel)]="segment">
    <ion-segment-button value="reunions" [disabled]="grouptype == 0">
      <ion-label>Meetings</ion-label>
    </ion-segment-button>
    <ion-segment-button value="comptes">
      <ion-label>Accounts</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content [fullscreen]="false">

  <ion-fab *ngIf="segment == 'reunions' && grouptype > 0" horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button (click)="showMeetingForm()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list *ngIf="segment == 'reunions' && grouptype > 0">
    <ion-item *ngFor="let meeting of meetings">
      <ion-label>
      <ion-text [color]="meeting.pending?'danger':''" [ngStyle]="{'text-decoration': meeting.cancelled ? 'line-through' : ''}">
        <h2>
        {{meeting.place}}
        </h2>
      </ion-text>
      <p>
        <ion-text color="tertiary">{{meeting.startedat}}</ion-text>
        <ion-icon [color]="meeting.endedat? 'danger': 'success'" name="timer" class="info-icon"></ion-icon>
        <ion-text color="danger">{{meeting.endedat}}</ion-text>
      </p>
      <p *ngIf="meeting.haspending">
        Pending transactions: <ion-badge color="danger">{{meeting.haspending}}</ion-badge>
      </p>
      </ion-label>
      <ion-note slot="end">
        <p class="actions">
          <ion-button *ngIf="(meeting.haspending || meeting.pending) && userRole > 1" size="small" color="danger" (click)="confirmUploadMeeting(meeting)"><ion-icon name="cloud-upload"></ion-icon></ion-button>
          <ion-button *ngIf="userRole > 1" [disabled]="meeting.endedat && !meeting.haspending && !meeting.pending" size="small" color="tertiary" (click)="showTransactions(meeting)" ><ion-icon name="swap-horizontal-outline"></ion-icon></ion-button>
          <ion-button *ngIf="userRole > 1" [disabled]="meeting.endedat" size="small" color="secondary" (click)="closeMeeting(meeting)" ><ion-icon name="bag-check-outline"></ion-icon></ion-button>
          <ion-button *ngIf="userRole > 1" [disabled]="meeting.cancelled || meeting.has_transactions || meeting.haspending > 0" size="small" color="danger" (click)="cancelMeeting(meeting)"><ion-icon name="ban-outline"></ion-icon></ion-button>
        </p>
        <p class="actions">
          <ion-button *ngIf="meeting.haspending && userRole > 1" size="small" color="danger" (click)="clearPendings(meeting)"><ion-icon name="trash-outline"></ion-icon></ion-button>
          <ion-button [disabled]="meeting.pending" size="small" color="success" (click)="openHistory(meeting)"><ion-icon name="document-text-outline"></ion-icon></ion-button>
        </p>
      </ion-note>
    </ion-item>
    <ion-note *ngIf="!meetings || meetings.length == 0" class="ion-margin-left">
      Group has no meetings
    </ion-note>
  </ion-list>

  <ion-list *ngIf="segment == 'comptes'">
    <ion-item *ngFor="let account of accounts" >
      <ion-label>
        <ion-text [color]="account.type == 1 ? '' : 'primary'">
          <h2>
            <ion-icon *ngIf="account.type != 1" name="people"></ion-icon>&nbsp;
            <strong>{{account.owner}}</strong>
          </h2>
        </ion-text>
        <p>
          Credit avail.: <ion-text [color]="account.creditdisponible <= 0 ? 'danger': 'success'">{{account.creditdisponible | number:'.2'}} {{currency}}</ion-text>
        </p>
        <p>
          Loans: {{account.emprunts | number:'.2'}} {{currency}}
        </p>
        <p>
          Loan req.: {{account.besoinsliquidite | number:'.2'}} {{currency}}
        </p>
        <p *ngIf="account.type == 1">
          Contribution due:  <ion-text [color]="account.due > 0 ? 'danger': ''">{{account.due | number:'.2'}} {{currency}}</ion-text>
        </p>
      </ion-label>
      <ion-note slot="end">
        <ion-icon name="arrow-redo" color="success"></ion-icon> {{account.balance | number}}
        <ion-icon name="arrow-undo" color="danger"></ion-icon> {{account.restearembourser | number}} {{currency}}
        <p class="actions">
          <ion-button size="small" color="success" (click)="showAccountInfo(account)"><ion-icon name="information-outline"></ion-icon></ion-button>
          <ion-button *ngIf="account.type == 1 && userRole > 1" size="small" color="danger" (click)="closeAccount(account)"><ion-icon name="ban-outline"></ion-icon></ion-button>
        </p>
      </ion-note>
    </ion-item>
    <ion-note *ngIf="!accounts || accounts.length == 0" class="ion-margin-left">
      Group has no accounts
    </ion-note>
  </ion-list>

</ion-content>
