ion-label p {
    font-size: x-small;
    ion-text {
        font-weight: bold;
    }
}

.info-icon {
    font-size: large;
}

.actions {
   text-align: end;
}

ion-badge {
    vertical-align: bottom;
}
