<ion-card class="summary-card ion-margin ion-padding">
 <div class="card-header-flex">
    <h2 class="serif-title text-22">Maats</h2>
    <div class="avatar-box">
      <img src="assets/img/pot-sm.png">
    </div>
  </div>

  <ion-grid class="ion-no-padding ion-no-margin">
    <ion-row>
      <ion-col size="4" class="ion-text-center">
        <div class="stat-value">{{group?.numloans | number:'.0'}}</div>
        <div class="stat-label ion-padding-horizontal">{{'number_of_active_maats' | translate}}</div>
      </ion-col>
      <ion-col size="4" class="ion-text-center">
        <div class="stat-value">{{reimbursements | number:'.0'}}</div>
        <div class="stat-label ion-padding-horizontal">{{'reimbursement_today' | translate}}</div>
      </ion-col>
      <ion-col size="4" class="ion-text-center">
        <div class="stat-value">{{ group?.numdueloans }}</div>
        <div class="stat-label">{{'overdue' | translate}}</div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>

<p class="attending-subtitle text-14 ion-no-margin ion-margin-horizontal">
  {{ attendance }} {{'of' | translate}} {{ numberofmembers}} {{'attending' | translate}}
</p>

<div class="segment-wrapper ion-no-padding ion-margin">
  <ion-segment [(ngModel)]="segment" mode="ios" class="ion-no-margin">
    <ion-segment-button value="reimbursements">
      <ion-label>{{'reimbursements' | translate}}</ion-label>
    </ion-segment-button>
    <ion-segment-button value="newmaats">
      <ion-label>{{'new_maats' | translate}}</ion-label>
    </ion-segment-button>
  </ion-segment>
</div>

@switch (segment) {
<!-- *** Reimbursements *** -->
@case('reimbursements'){
<ion-list lines="none" class="custom-card ion-margin">
  @for (acc of loanAccounts; track acc.id) {
  <ion-item>
    <div slot="start" class="avatar-icon" [class.inactive]="!(acc?.totals?.reimbursements > 0)">
      <ion-icon slot="start" src="assets/img/icons/feather.svg"></ion-icon>
    </div>
    <ion-label class="owner-container ion-text-wrap" (click)="openAccountTransactions(acc)">
      <div class="title-row">
        <h5>{{ acc?.owner }}</h5>
        @if(acc.loans_expired){
          <ion-badge class="alert text-12">{{'overdue' | translate}}</ion-badge>
        }
      </div>
    </ion-label>
    @if(acc?.totals?.reimbursements > 0 || acc?.restearembourser == 0){
      <ion-icon name="checkmark-sharp" slot="end" size="small" color="medium" class="ion-no-margin"></ion-icon>
    }@else {
      <ion-icon name="checkmark-circle-sharp" slot="end" size="small" color="primary" class="ion-no-margin"
        (click)="set_default(acc)"></ion-icon>
    }
    <ion-input slot="end" type="number" disabled [value]="(acc?.totals?.reimbursements ?? 0) > 0 ? acc?.totals?.reimbursements : ''" [placeholder]="acc?.restearembourser" class="amount-input ion-no-padding"></ion-input>
    <ion-icon slot="end" name="close" class="close-icon ion-no-margin"
      (click)="clear_amount(acc)"
      [class.disabled]="!(acc?.totals?.reimbursements > 0)">></ion-icon>
  </ion-item>
  }
  @if(!loanAccounts.length){
    <ion-label style="display: block;" class="ion-text-center text-14" color="danger">{{'no_accounts_with_open_maats' | translate}}</ion-label>
  }
</ion-list>
}

<!-- *** New Maats *** -->
@case('newmaats'){
<ion-list lines="none" class="custom-card ion-margin">
  @for (acc of accounts; track acc.id) {
  <ion-item [detail]="pf(acc.creditdisponible) > 0" (click)="pf(acc.creditdisponible) > 0 ? openNewMaat(acc) : return">
    <div slot="start" class="avatar-icon" [class.inactive]="!(acc?.totals?.loans > 0)" [class.disabled]="!(pf(acc.creditdisponible) > 0)">
      <ion-icon slot="start" src="assets/img/icons/feather.svg"></ion-icon>
    </div>
    <ion-label class="owner-container ion-text-wrap" >
      <div class="title-row">
        <h5>{{ acc?.owner }}</h5>
        @if(!pf(acc.creditdisponible) > 0){
          <ion-badge class="alert text-12">{{'maat_unavailable' | translate}}</ion-badge>
        }
      </div>
      @if(acc.due){
        <p class="text-12">{{'overdue_regular_contribution' | translate}}</p>
      }
    </ion-label>
    @if(pf(acc.creditdisponible) > 0 && acc?.totals?.loans > 0){
      <ion-input slot="end" type="number" disabled [(ngModel)]="acc.totals.loans" placeholder="0" class="amount-input ion-no-padding"></ion-input>
      <ion-icon slot="end" name="close" class="close-icon ion-no-margin"
        (click)="clear_loan_amount(acc, $event)"
        [class.disabled]="!(acc?.totals?.loans > 0)">></ion-icon>
  }
  </ion-item>
  }
  @if(!accounts.length){
    <ion-label style="display: block;" class="ion-text-center text-14" color="danger">{{'no_accounts_available' | translate}}</ion-label>
  }
</ion-list>
}

}
