<h2 class="serif-title ion-margin">
  {{'does_anyone_wants_to_add_balance' | translate}}
</h2>

<p class="attending-subtitle text-14 ion-no-margin ion-margin-horizontal ion-padding-top">
  {{ attendance }} {{'of' | translate}} {{ numberofmembers}} {{'attending' | translate}}
</p>

<ion-list class="ion-no-padding">
  <ion-item lines="none" class="fund-item dashboard-item ion-margin ion-border-rounded-20">
    <ion-label>
      <p class="dashboard-label text-22">{{'total_added_to_balance_today' | translate}}</p>
      <div class="amount-container">
        <span class="amount">{{(meetingBalance ?? 0)| number:'.2'}}</span>
        <span class="currency">{{country?.currency}}</span>
      </div>
    </ion-label>
  </ion-item>
</ion-list>

<ion-list lines="none" class="custom-card ion-margin">
  @for (acc of accounts; track acc.id) {
  <ion-item>
    <div slot="start" class="avatar-icon" [class.inactive]="!(acc.ecp > 0)">
      <ion-icon slot="start" src="assets/img/icons/feather.svg"></ion-icon>
    </div>
    <ion-label class="ion-text-wrap" (click)="openAccountTransactions(acc)"><h5>{{ acc?.owner }}</h5></ion-label>
    <ion-input slot="end" type="number" disabled [(ngModel)]="acc.ecp" placeholder="0" class="amount-input ion-no-padding"></ion-input>
    <ion-icon slot="end" name="close" class="close-icon ion-no-margin"
      (click)="clear_amount(acc)"
      [class.disabled]="!(acc.ecp > 0)">></ion-icon>
  </ion-item>
  }
  @if(!accounts?.length){
    <ion-label style="display: block;" class="ion-text-center text-14" color="danger">{{'no_accounts_available' | translate}}</ion-label>
  }
</ion-list>

