.info-header {
    padding: 0 0 5px 0;
    ion-icon {
        color: red;
    }
    ion-item::part(native) {
        min-height: 25px;
    }
}

.operation-date {
  font-size: 11px;
}

ion-icon {
  vertical-align: text-top;
}
