<ion-header>
  <ion-toolbar>
    <ion-title>History of transactions</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-list lines="none" class="info-header">
    <ion-item>
      <ion-label>
        <h2>Meeting: <strong>{{meetingplace}}</strong></h2>
      </ion-label>
      <ion-note slot="end"><strong>{{meetingdate}}</strong></ion-note>
    </ion-item>
  </ion-list>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let oper of operations">
      <ion-label>
        <ion-text color="secondary">
          <ion-note class="operation-date">
          {{oper.operationdate}}
          </ion-note>
        </ion-text>
        <ion-text color="tertiary">
          <h4>
          {{oper.source}} <ion-icon name="arrow-forward-outline"></ion-icon> {{oper.destination}}
          </h4>
        </ion-text>
        <ion-text color="primary">
          <h3><strong>{{oper.operation}}</strong></h3>
        </ion-text>
      </ion-label>
      <ion-note slot="end" [ngStyle]="{'text-decoration': oper.is_cancelled ? 'line-through' : ''}" [color]="oper.is_cancelling ? 'danger' : ''">
        <strong>{{oper.credit | number:'.2'}}{{oper.debit | number:'.2'}}</strong>
      </ion-note>
    </ion-item>
    <ion-row *ngIf="!operations || operations.length == 0">
      <ion-col>
        <ion-note class="ion-margin-left">
        Meeting has no transactions
        </ion-note>
      </ion-col>
    </ion-row>
  </ion-list>

</ion-content>
