<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center"><h2>{{account.owner}}</h2></ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="ion-margin">
    @for (tr of transactions; track tr.id) {
      <ion-item lines="none" class="ion-margin-vertical ion-no-padding">
        <ion-icon slot="start" color="primary" [src]="tr?.icon ? 'assets/img/icons/transactions/'+ tr?.icon +'.svg' : ''"></ion-icon>
        <ion-label color="primary">
          {{tr.name}}
        </ion-label>
        <ion-label slot="end" class="value">
          {{tr.amount | number: '.2'}}
        </ion-label>
      </ion-item>
    }
    @if (!transactions || transactions.length == 0) {
      <ion-row>
        <ion-col>
          <ion-note class="ion-margin-left">
            {{'account_has_no_transactions' | translate}}
          </ion-note>
        </ion-col>
      </ion-row>
    }
  </ion-list>

</ion-content>
