/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */
@use "./app/app.scss";

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";


/*
 * App CSS
 * ----------------------------------------------------------------------------
 * Imports a file that can contain Sass/CSS that should be used throughout
 * the entire app.
 */

 @font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter/Inter_18pt-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Lora';
  src: url('./assets/fonts/Lora/Lora-Regular.ttf') format('truetype');
  font-weight: normal;
}

[hidden] {
  display: none !important;
}

h1,h2,h3,h4 {
  font-family: var(--app-font-serif);
}
h1 {
  font-size: 2rem !important;
  line-height: 2rem !important;
}
h2 {
  font-size: 1.5rem !important;
   line-height: 1.5rem !important;
}
h3 {
  font-size: 1.25rem !important;
   line-height: 1.25rem !important;
}
h4 {
  font-size: 1.125rem !important;
  line-height: 1.5rem !important;
}
h5 {
  font-size: 1rem !important;
  line-height: 1.125rem !important;
}

p {
  font-size: 0.875rem !important;
  color: #757575 !important;
}

.text-12 { font-size: 0.75rem !important; }
.text-14 { font-size: 0.875rem !important; }
.text-16 { font-size: 1rem !important; }
.text-18 { font-size: 1.125rem !important; }
.text-20 { font-size: 1.25rem !important; }
.text-22 { font-size: 1.375rem !important; }
.text-24 { font-size: 1.5rem !important; }
.text-32 { font-size: 2rem !important; }

.ion-color-maat-primary {
    --ion-color-base: #6B6FB8;
 }

.ion-color-maat-secondary {
    --ion-color-base: #F3F3FF;
    --ion-color-contrast: #484DB3;
 }

 .ion-color-maat-disabled {
    --ion-color-base: #F5F5F5;
    --ion-color-contrast: #C9C9C9;
    opacity: 1 !important;
 }

