<ion-header [translucent]="true">
  <ion-toolbar class="group-habs-header">
    <ion-title role="button" (click)='navToGroups()'>
      <div class="title-container">
        <h2 class="main-group-title">{{'group' | translate}}: {{group.name}}</h2>
        <p class="sub-location text-12">{{country.name}} · {{group.ville}}</p>
      </div>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/countries" routerDirection="forward" class="flag-button">
        <ion-avatar class="flag-circle">
          <img [src]="'assets/flags/' + country.flagcode?.toLowerCase() + '.svg'" />
        </ion-avatar>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item lines="none" class="meeting-status-item ion-margin-horizontal ion-border-rounded-20">
      <ion-label>
        <h4>{{'meeting-card.' + meeting_status + '.title' | translate}}</h4>
        <p>{{'meeting-card.' + meeting_status + '.message' | translate}}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-button class="ion-margin-horizontal ion-margin-bottom" expand="block" shape="round" [disabled]="meeting_status != 'no-active'">{{'start_new_meeting' | translate}}</ion-button>
  @if(network_status && upload_status){
   <ion-button class="ion-margin-horizontal" expand="block" shape="round" color="maat-secondary">{{'upload_data' | translate}}</ion-button>
  }
  @if(!network_status && upload_status){
   <ion-button class="ion-margin-horizontal" expand="block" shape="round" color="maat-disabled" disabled>{{'upload_data' | translate}}</ion-button>
  }

  <ion-list>

    @if(lastmeeting){
    <ion-item lines="none" class="meeting-item">
      <ion-label class="ion-text-wrap">
        <div class="header-row">
          <h2 class="title">{{'last_meeting' | translate}}</h2>
          <span class="meta-info">{{lastmeeting?.startedat | date:'MMM d'}} @if(lastmeeting.endedat){ · {{'closed' | translate}} }</span>
        </div>
        <div class="stats-row">
          <div class="stat-box">
            <div class="value">18<small>/22</small></div>
            <div class="caption">{{'attendance' | translate}}</div>
          </div>
          <div class="stat-box">
            <div class="value">16<small>/22</small></div>
            <div class="caption">{{'balance' | translate}}</div>
          </div>
          <div class="stat-box">
            <div class="value">420</div>
            <div class="caption">{{country.currency}} {{'collected' | translate}}</div>
          </div>
        </div>
      </ion-label>
      <ion-button slot="end" fill="clear" color="medium" class="arrow-button">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-button>
    </ion-item>
    }

    <ion-item lines="none" class="fund-item dashboard-item ion-margin ion-border-rounded-20">
      <ion-label>
        <p class="dashboard-label text-22">{{'group_fund' | translate}}</p>
        <div class="amount-container">
          <span class="amount">{{account?.balance | number:'.2'}}</span>
          <span class="currency">{{country.currency}}</span>
        </div>
      </ion-label>
    </ion-item>

    <ion-item lines="none" class="active-item dashboard-item ion-margin ion-border-rounded-20">
      <ion-label>
        <p class="dashboard-label text-22">{{'active_maats' | translate}}</p>
        <div class="amount-container">
          <span class="amount">{{account?.creditdisponible | number:'.2'}}</span>
          <span class="currency">{{country.currency}}</span>
        </div>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
