.flag-circle {
  width: 32px;
  height: 32px;
  margin-right: 10px;

  img {
    object-fit: cover;
    //transform: scale(0.8);
  }
}

// MEETING STATUS
ion-item.meeting-status-item {
  --background: url('/assets/img/intro/meetings-main.png') no-repeat right bottom / 50% auto;
  background-color: #F3F1EC;
  --min-height: 130px;
  h4 {
    color: #393734;
  }
  ion-label {
    color: #757575 !important;
    flex: 0 0 51% !important; 
    overflow: hidden;
  }
}