<ion-text>
  <h2 class="ion-margin">Shared resources</h2>
  <p class="ion-margin ion-padding-top">This is the shared money of your group. 
    It grows through all contributions and supports members when they need it most.</p>
</ion-text>

<div>
  <img class="arrow" src="assets/img/intro/down-arrow-2.png">
</div>

<ion-item lines="none" class="fund-item ion-margin ion-border-rounded-20">
  <ion-label>
    <p class="fund-label text-22">Group fund</p>
    <div class="amount-container">
      <span class="amount">2.340</span>
      <span class="currency">CAD</span>
    </div>
  </ion-label>
</ion-item>