<div>
  <img class="arrow" src="assets/img/intro/down-arrow-1.png">
</div>

<ion-item lines="none" class="meeting-item">
  <ion-label class="ion-text-wrap">
    
    <div class="header-row">
      <h2 class="title">Last meeting</h2>
      <span class="meta-info">Dec 12 · Closed</span>
    </div>

    <div class="stats-row">
      <div class="stat-box">
        <div class="value">18<small>/22</small></div>
        <div class="caption">Attendance</div>
      </div>

      <div class="stat-box">
        <div class="value">16<small>/22</small></div>
        <div class="caption">Balance</div>
      </div>

      <div class="stat-box">
        <div class="value">420</div>
        <div class="caption">CAD collected</div>
      </div>
    </div>

  </ion-label>

  <ion-button slot="end" fill="clear" color="medium" class="arrow-button">
    <ion-icon name="chevron-forward-outline"></ion-icon>
  </ion-button>
</ion-item>

<ion-text>
  <h2 class="ion-margin">Last meeting summary</h2>
  <p class="ion-margin ion-padding-top">A quick overview of the last meeting. 
    Here you can see how many group members attended the meeting. 
    For example, we currently see that 18 out of 22 participants attended. 
    Balance shows how many contributed to their personal accounts. 
    And you can see the total amount collected during the meeting.</p>
</ion-text>

